<div>
    <div class="welcome-container">
        <div class="user-info">
            <div   class="container">
                <img src="../../assets/Logo.png" alt="Logo" class="logo" (click)="TelaInicial()">
                <div class="image-container">
                    <img id="selectedImage2" [src]="imagePath" alt="User Image" class="Botoes_usuario">
                </div>                
                <div class="user-details">
                    <ul class="user-details-Ul">
                        <li class="user-details-Ul-li1"><strong>ID:</strong> </li>
                        <li class="user-details-Ul-li2"> {{IdUsuario }} </li>                        
                        <li class="user-details-Ul-li2"><strong>Nome:</strong></li>
                        <li class="user-details-Ul-li2"> {{ (nomeUsuario? nomeUsuario.length : 0) > 9 ? (nomeUsuario | slice:0:9) + '...' : nomeUsuario }} </li>                        
                    </ul>
                </div>
                <div class="logout-button" (click)="logout()">
                    <img src="../../assets/Logout.png" alt="Logout" class="Botoes_usuario2"/>
                </div>                
            </div>                    
        </div>
        <div  class="rectangle">   
            <div class="image-container-right2">
                <div class="image-container2" (click)="editMode ? fileInput.click() : null">
                    <img id="selectedImage" class="user-image-right" [src]="imagePath" />
                    <div *ngIf="editMode" class="overlay">Clique aqui para alterar a imagem!</div>
                </div>
                <input type="file" accept="image/png, image/jpeg" #fileInput (change)="onImageSelected($event)" [disabled]="!editMode" style="display:none" class="image2">                  
            </div>
            <div class="welcome-message">                
                <div class="cadastro-container">
                    <div class="cadastro-rectangle">                       
                        <div class="cadastro-label">
                            {{ editMode ? 'Alteração de dados do Usuário' : 'Dados de Usuário' }}
                        </div>
                        <div class="line"></div>
                        <div class="image-container-right">
                            <div class="image-container2" (click)="editMode ? fileInput.click() : null">
                                <img id="selectedImage3" class="user-image-right" [src]="imagePath" />
                                <div *ngIf="editMode" class="overlay">Clique aqui para alterar a imagem!</div>
                            </div>
                            <input type="file" accept="image/png, image/jpeg" #fileInput (change)="onImageSelected($event)" [disabled]="!editMode" style="display:none" class="image2">                  
                        </div>
                        <div class="line1"></div>
                        <input placeholder="Digite o seu Nome" type="text" id="nome" name="nome" class="cadastro-input"   #nomeInput [disabled]="!editMode" required>
                        <div class="line"></div>          
                        <input placeholder="Digite o seu E-mail" type="email" id="email" name="email"  class="cadastro-input2"  #emailInput [disabled]="( usuariogoogle || !editMode)" required>
                        <div class="line"></div>
                        <div  *ngIf="mostraNovaSenha" class="cadastro-NovaSenha">Nova Senha: </div>          
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input [ngStyle]="getBotaoEstilos()" placeholder="Digite a sua Senha" [type]="mostrarSenha ? 'text' : 'password'" id="senha" name="senha"  class="cadastro-input3"   #senhaInput [disabled]="true" required>
                        <button *ngIf="(!usuariogoogle)" id="mostrarsenha2" (click)="toggleSenha()" class="mostrarsenha2">
                            <img class="mostrarsenha4" [src]="mostrarSenha ? '../../assets/olho_aberto_white.png' : '../../assets/olho_fechado_white.png'" alt="Mostrar/Ocultar Senha">
                        </button>
                        <div class="line"></div>
                        <button id="alterarsenha" class="alterarsenha" (click)="toggleModal()" [disabled]="(usuariogoogle || !editMode)">Alterar senha</button>
                        <div class="line"></div>        
                        <!-- Botões de Ação -->
                        <button id="editButton" class="editButton" (click)="toggleEdit()" *ngIf="(!editMode)">Editar</button>
                        <button id="cancelButton" class="cancelButton" (click)="cancelEdit()" *ngIf="editMode">Cancelar</button>
                        <button id="saveButton"  class="saveButton"(click)="saveChanges()" *ngIf="editMode">Gravar</button>
                        <button id="deleteAccountButton" class="deleteAccountButton" (click)="deleteAccount()" *ngIf="!editMode">Excluir</button>                        
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Alteração de Senha -->
<div *ngIf="showModal" class="modal">
    <div class="modal-content">
        <div class="cadastro-label2">
            Digite a nova senha
        </div>
        <div class="line5"></div>   
        <div class="input-container">
            <input [type]="mostrarSenhaModal ? 'text' : 'password'" placeholder="Senha" #novaSenha class="modal-input">
            <button (click)="toggleSenhaModal()" class="toggle-senha">
              <img [src]="mostrarSenhaModal ? '../../assets/olho_aberto_white.png' : '../../assets/olho_fechado_white.png'" alt="Mostrar/Ocultar Senha" class="imagem3">
            </button>              
          </div>
          <div class="line5"></div>   
          <div class="input-container2">
            <input [type]="mostrarconfSenhaModal ? 'text' : 'password'" placeholder="Confirmação de senha" #confirmacaoSenha class="modal-input2">
            <button (click)="toggleconfSenhaModal()" class="toggle-senha2">
              <img [src]="mostrarconfSenhaModal ? '../../assets/olho_aberto_white.png' : '../../assets/olho_fechado_white.png'" alt="Mostrar/Ocultar Senha" class="imagem4">
            </button>
          </div>
          <div class="line5"></div>   
        <div class="modal-actions">
            <button class="modalCancelaButton" (click)="cancelar()">Cancelar</button>
            <button class="modalalteraButton" (click)="alterarSenha()">Alterar</button>
        </div>
    </div>
</div>

