<div>
    <div class="welcome-container">
        <div class="user-info">
            <div class="container">
                <img src="../../assets/Logo.png" alt="Logo" class="logo">
                <div class="image-container">
                    <img style="margin-left: 1040px;" id="selectedImage2" [src]="imagePath" alt="User Image" class="Botoes_usuario" (click)="usuario()">
                </div>                
                <div class="user-details">
                    <ul class="user-details-Ul">
                        <li class="user-details-Ul-li1"><strong>ID:</strong> </li>
                        <li class="user-details-Ul-li2"> {{IdUsuario }} </li>                        
                        <li class="user-details-Ul-li2"><strong>Nome:</strong></li>
                        <li class="user-details-Ul-li2"> {{ (nomeUsuario? nomeUsuario.length : 0) > 9 ? (nomeUsuario | slice:0:9) + '...' : nomeUsuario }} </li>                        
                    </ul>
                </div>
                <div class="logout-button" (click)="logout()">
                    <img style="margin-top: 4px;" src="../../assets/Logout.png" alt="Logout" class="Botoes_usuario"/>
                </div>                
            </div>                    
        </div>
        <div class="rectangle">            
            <div class="welcome-message">
            </div>
        </div>
    </div>
</div>