<div>
    <div class="welcome-container">
        <div class="user-info">
            <div class="container">
                <img src="../../assets/Logo.png" alt="Logo" class="logo">
                <div class="image-container">
                    <img id="selectedImage2" [src]="imagePath" alt="User Image" class="Botoes_usuario3"
                        (click)="usuario()">
                </div>
                <div class="user-details">
                    <ul class="user-details-Ul">
                        <li class="user-details-Ul-li1"><strong>ID:</strong> </li>
                        <li class="user-details-Ul-li2"> {{IdUsuario }} </li>
                        <li class="user-details-Ul-li2"><strong>Nome:</strong></li>
                        <li class="user-details-Ul-li2"> {{ (nomeUsuario? nomeUsuario.length : 0) > 9 ? (nomeUsuario |
                            slice:0:9) + '...' : nomeUsuario }} </li>
                    </ul>
                </div>
                <div class="logout-button" (click)="logout()">
                    <img style="margin-top: 4px;" src="../../assets/Logout.png" alt="Logout" class="Botoes_usuario" />
                </div>
            </div>
        </div>
        <div class="rectangle">
            <div class="welcome-message">
                <div class="rectangle2">
                    <div class="top">
                        <p class="textotop">Gerenciamento de eventos</p>
                    </div>
                    <div>
                        <input *ngIf="!equipeevento" type="text"
                            class="input1" name="procura" placeholder="id ou Nome do Evento" maxlength="25" #procura
                            required>
                        <input *ngIf="equipeevento" type="text"
                            class="input1" name="procura" placeholder="id ou Nome da Equipe" maxlength="25" #procura
                            required>
                        <select class="EventoEvento" id="EventoEvento" (change)="SetaTipoListagem()">
                            <option value="1-10">Eventos em aberto</option>
                            <option value="1-5">Todos os Eventos</option>
                        </select>
                        <select class="EventoEvento" id="EventoEvento" (change)="SetaEvento()">
                            <option value="1-10">Evento</option>
                            <option value="1-5">Equipe</option>
                        </select>
                        <button class="Evento-btn5"
                            (click)="botaopesquisarlistaEventos()">Pesquisar</button>
                        <button
                            (click)="LimpapesquisarlistaEventos()" class="Evento-btn6">Limpa
                            filtro</button>
                    </div>
                    <div class="listagemequipes">
                    <div *ngIf="!filtrou">
                        <div *ngFor="let Evento of EventosNaPaginaAtual; let i = index" class="Evento-container">
                            <div class="Evento-containerdiv">
                                <img id="selectedImage" [src]="Evento.ImagemEquipe" alt="User Image"
                                    class="Botoes_usuario5" >                               
                            </div>                            
                            <div class="dados">
                                <span class="nomeEvento">Equipe: {{ Evento.nomeequipe }}</span>
                                <span class="nomeEvento">ID Evento: {{ Evento.id }}</span> 
                                <span class="nomeEvento">Evento: {{ Evento.nome }}</span>
                            </div>  
                    
                            <div class="Evento-containerdiv2">      
                                <div class="Evento-containerdiv2">                           
                                <button class="Evento-btn2" (click)="excluirEvento(Evento.id, Evento.nome)" [disabled]="Evento.inicioEvento">Excluir
                                    Evento</button>
                                <button class="Evento-btn2" (click)="Teladetalhes(Evento.id.toString(), 'D')">Detalhes
                                    Adicionais</button>
                                <button class="Evento-btn2"
                                    (click)="Teladetalhes(Evento.id.toString(), 'A')" [disabled]="Evento.inicioEvento">Administrar
                                    Detalhes</button>
                                    <button *ngIf="!Evento.inicioEvento" class="Evento-btn3" style="color: green;" (click)="IniciarEvento(Evento.id, i)">Iniciar</button>
                                    <button *ngIf="Evento.inicioEvento" class="Evento-btn3" style="color: red;" (click)="FinalizarEvento(Evento.id, i)">Finalizar</button>   
                            </div>
                        </div>
                        </div>
                    </div>
                    <div *ngIf="filtrou && existe">
                        <div *ngFor="let Evento of EventosNaPaginaAtual2; let i = index" class="Evento-container">
                            <div class="Evento-containerdiv">
                                <img id="selectedImage" [src]="Evento.ImagemEquipe" alt="User Image"
                                    class="Botoes_usuario5">
                            </div>  
                            <div class="dados">
                                <span class="nomeEvento">Equipe: {{ Evento.nomeequipe }}</span>
                                <span class="nomeEvento">ID Evento: {{ Evento.id }}</span> 
                                <span class="nomeEvento">Evento: {{ Evento.nome }}</span>
                            </div>                                   
                            <div class="Evento-containerdiv2">      
                                <div class="Evento-containerdiv2">                           
                                <button class="Evento-btn2" (click)="excluirEvento(Evento.id, Evento.nome)" [disabled]="Evento.inicioEvento">Excluir
                                    Evento</button>
                                <button class="Evento-btn2" (click)="Teladetalhes(Evento.id.toString(), 'D')">Detalhes
                                    Adicionais</button>
                                <button class="Evento-btn2"
                                    (click)="Teladetalhes(Evento.id.toString(), 'A')" [disabled]="Evento.inicioEvento">Administrar
                                    Detalhes</button>
                                    <button *ngIf="!Evento.inicioEvento" class="Evento-btn3" style="color: green;" (click)="IniciarEvento(Evento.id, i)">Iniciar</button>
                                    <button *ngIf="Evento.inicioEvento" class="Evento-btn3" style="color: red;" (click)="FinalizarEvento(Evento.id, i)">Finalizar</button>   
                            </div>
                        </div>
                        </div>
                    </div>
                    <div *ngIf="filtrou && !existe">
                        <div class="Evento-container">
                            <p
                                class="p1">
                                <strong>Não existem Eventos nas condições passadas!</strong>
                            </p>
                        </div>
                    </div>
                </div>

                <span *ngIf="!filtrou && EventosPorPagina<4" class="pagina-info">Página {{ paginaAtual }}/{{
                    totalDePaginas }}</span>
                <span *ngIf="filtrou && existe && EventosPorPagina<4" class="pagina-info">Página {{ paginaAtual
                    }}/{{ totalDePaginas2 }}</span>
                <span *ngIf="filtrou && !existe && EventosPorPagina<4" class="pagina-info">Página 1/1</span>
                <button *ngIf="EventosPorPagina<4" class="btn-left2" style="margin-bottom: 10px;"
                    (click)="mudarPagina(-1)" [disabled]="paginaAtual === 1">Anterior</button>
                <button *ngIf="!filtrou && EventosPorPagina<4" class="btn-right2" style="margin-bottom: 10px;"
                    (click)="mudarPagina(1)"
                    [disabled]="paginaAtual >= (Eventos.length / EventosPorPagina)">Próximo</button>
                <button *ngIf="filtrou && EventosPorPagina<4" class="btn-right2" style="margin-bottom: 10px;"
                    (click)="mudarPagina(1)"
                    [disabled]="paginaAtual >= (Eventos.length / EventosPorPagina)">Próximo</button>
                </div>
                <div class="footer">
                    <button class="btn-left" (click)="TelaInicial()">Tela Inicial</button>
                    <button class="btn-right" (click)="criarNovaEvento()">(+) Criar novo Evento?</button>
                    <button class="btn-right3" (click)="CriarEquipe()">Gerenciar Equipes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal para criar nova Evento -->
<div class="modal" *ngIf="exibirModal">
    <div class="modal-content">
        <span class="close" (click)="fecharModal()">&times;</span>
        <p class="cadastro-label2">Indique o nome do novo Evento</p>        
        <input class="modalCampo" type="text" #nomeEvento placeholder="Nome do Evento" required>
        <fieldset class="fieldset1">
            <legend>Equipes Existentes</legend>
            <div>
                <input class="input_modal1" type="text" name="procura" placeholder="id ou nome da equipe"
                    maxlength="25" #procura2 required>
                <button class="modalpesquisarButton" (click)="botaopesquisarlistaEquipes()">Pesquisar</button>
                <button class="modalpesquisarButton" (click)="LimpapesquisarlistaEquipes()">Limpa filtro</button>
            </div>
            <div *ngIf="!filtrou2" class="parametros-container">
                <div *ngFor="let equipe of equipes; let i = index" class="equipe-container">
                    <fieldset class="equipe-fieldset">
                        <legend>Dados da Equipe</legend>
                        <img [src]="equipe.foto" class="equipe-imagem">
                        <div class="equipe-detalhes">
                            <p class="equipe-id"><strong>Id: {{ equipe.id }}</strong></p>
                            <p class="equipe-nome"><strong>Nome: {{ equipe.nome }}</strong></p>
                        </div>
                    </fieldset>
                    <div>
                        <fieldset class="importancia-fieldset">
                            <legend>Ação</legend>
                            <button id="buttonescolher" class="buttonescolher" (click)="escolhersemfiltro(i)">
                                Escolher
                            </button>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div *ngIf="filtrou2 && existenalistaequipes2" class="parametros-container">
                <div *ngFor="let equipe of equipes2; let i = index" class="equipe-container">
                    <fieldset class="equipe-fieldset">
                        <legend>Dados da Equipe</legend>
                        <img [src]="equipe.foto" class="equipe-imagem">
                        <div class="equipe-detalhes">
                            <p class="equipe-id"><strong>Id: {{ equipe.id }}</strong></p>
                            <p class="equipe-nome"><strong>Nome: {{ equipe.nome }}</strong></p>
                        </div>
                    </fieldset>
                    <div>
                        <fieldset class="importancia-fieldset">
                            <legend>Ação</legend>
                            <button id="buttonescolher" class="buttonescolher" (click)="escolhercomfiltro(i)">
                                Escolher
                            </button>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div *ngIf="filtrou2 && !existenalistaequipes2" class="resultado-pesquisa">
                <p>Não existem dados para a pesquisa!</p>
            </div>
        </fieldset>
        <fieldset class="equipe-selecionada">
            <div *ngIf="selecionada" class="parametros-container">
                <div class="equipe-container">
                    <fieldset class="equipe-fieldset">
                        <legend>Dados da Equipe</legend>
                        <img [src]="imagempesquisalistaequipeselecionado" class="equipe-imagem">
                        <div class="equipe-detalhes">
                            <p class="equipe-id"><strong>Id: {{ idpesquisalistaequipeselecionado }}</strong></p>
                            <p class="equipe-nome"><strong>Nome: {{ nomepesquisalistaequipeselecionado }}</strong></p>
                        </div>
                    </fieldset>
                    <div>
                        <fieldset class="importancia-fieldset">
                            <legend>Ação</legend>
                            <button id="buttonescolher" class="buttonescolher" (click)="LimparEquipeSelecionada()">
                                Limpar
                            </button>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div *ngIf="!selecionada" class="resultado-pesquisa">
                <p>Não existem dados para a pesquisa!</p>
            </div>
        </fieldset>
        <div class="modal-actions">
            <button class="modalCancelaButton" (click)="confirmarCancelar()">Cancelar</button>
            <button class="modalcriarButton" (click)="confirmarCriacao()">Criar</button>
        </div>
    </div>
</div>

<div id="myModal" class="modal2">
    <div class="modal-content2">
        <img src="../../assets/Aguarde2.gif" alt="Pop-up Image">
    </div>
</div>


