/* Adapte conforme necessário para a tela de Esqueci a Senha */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe00;
    position: absolute; /* Mudança de posição relativa para absoluta */
    left: 50%; /* Movendo para a metade da largura da janela de visualização */
    top: 50%; /* Movendo para a metade da altura da janela de visualização */
    transform: translate(-25%, -50%); /* Usando transform para ajustar a posição central */
    padding: 20px;
    border: 1px solid #88888800;
    width: 30%;
  }
  
  
  
  .logo {
      position: absolute;
      top: 10px; /* Ajuste conforme necessário */
      top: 45px;
      left: 57px;
      width: 276px;
      height: 65px;
    }
  
  .forgot-password-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .forgot-password-rectangle {
      width: 700px;
      height: 400px;
      background-color: #201f26;
      border-radius: 56px;
      margin: 0 auto; /* Centralizar na tela */      
    }

    .forgot-password-rectangle2 {
        width: 600px;               /* Largura fixa */
        height: 250px;              /* Altura fixa */
        background-color: #201f26;  /* Cor de fundo */
        overflow: auto;             /* Habilita a barra de rolagem quando necessário */
        margin-left: 50px;
        border: 1px solid white;    /* Bordas sólidas de 1px de espessura na cor branca */
    }
    
    
    .forgot-password-label {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: 20px;
      color: #ffffff;
      font-family: "Times New Roman";
    }
    
    .forgot-password-input {
      width: 440px;
      height: 40px;
      margin-bottom: 20px;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      background-color: #201f26;
      border-color: #201f26;
      border: none;
      outline: none;
      color: white;
      font-weight: bold;
      font-size: 20px;
      font-family: "Times New Roman, Times New Roman";
    }
    
    .line {
      display: flex;
      align-items: center;
      width: 440px;
      height: 1px;
      background-color: #ffffff;
      margin-bottom: 5px;
      margin-top: -45px;
      margin-left: 130px;
    }
    
    .forgot-password-submit {
      margin-top: 30px;
      width: 440px;
      height: 60px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      border: 2px solid #D9D9D9;
      background-color: #D9D9D9;
    }
    
    .forgot-password-back {
      font-size: 18px;
      font-family: "Times New Roman";
      color: #ffffff;
      cursor: pointer;
      margin-top: 20px;
    }
  
    #email::placeholder {
      color: white; 
      font-weight: lighter;
      font-size: 20px;
      font: "Times New Roman";
    }

    .forgot-password-rectangle h2, h3, ul {
        color: white;
    }
    
    .forgot-password-rectangle p {
        font-size: 14px;
        color: white;
    }
    
    button {
        padding: 10px 20px;
        margin-top: 10px;
        background-color: #0084ff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    
    @media screen and (min-width: 1000px) and (max-width: 1599px) 
    {
  
      .logo{
        top: 5px;
        left: 40%;
      }
  
  
    }

    @media screen and (min-width: 600px) and (max-width: 999px) 
    {
      .logo{
        top: 5px;
        left: 40%;
        width: 138px;
        height: 32px;
      }   
  
      .forgot-password-rectangle {
        width: 480px;
        height: 430px;
      }
  
      .forgot-password-rectangle2 {
          width: 380px;               /* Largura fixa */
          height: 280px;     
      }
  
      .forgot-password-container {
        top: 50%;
        margin-top: 17px;
      }
      
    }

    @media screen and (min-width: 0px) and (max-width: 599px) 
    {
      .logo{
        top: 10px;
        left: 30%;
        width: 138px;
        height: 32px;
      }
  
      .line {   
        width: 260px;  
        margin-left: 10px;
      }   
  
      .forgot-password-rectangle {
        width: 280px;
        height: 400px;   
        border-radius: 20px;  
      }
  
      .forgot-password-rectangle2 {
          width: 260px;               /* Largura fixa */
          height: 220px;  
          margin-left: 10px;   
      }
  
      .forgot-password-container {
        top: 50%;
         margin-top: 20px;
      }
  
      button {
      display: block;
      width: 260px;
      height: 30px;
      margin-left: 10px;
    }
    }
    