body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', sans-serif;
  background-color: #201f26;
  color: white;
}

@media (min-width: 1500px) {

.image-container-right
{
  display: none;
}
.welcome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid gray;
  border-radius: 10px;
}
.logo {
  position: absolute;
  left: 57px;
  width: 276px;
  height: 65px;
  cursor: pointer; /* Adicionado para indicar que a imagem é clicável */
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Botoes_usuario {
  margin-left: 1040px;
  width: 100px;
  height: 100px;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-details-Ul {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Times New Roman';
  font-size: 20px;
  width: 200px;
  list-style: none;
}
.user-details-Ul-li1 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.user-details-Ul-li2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -15px;
}
.logout-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de logout */
  cursor: pointer; /* Adicionado para indicar que o elemento é clicável */
}
.Botoes_usuario2 {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100px;
  height: 100px;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}
.rectangle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1500px;
  height: 600px;
  background-color: #201f26;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}
.image-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Adicione aqui quaisquer estilos adicionais necessários para o container de imagem */
  cursor: pointer; /* Adicionado para indicar que o elemento é clicável */
}
.user-image-right {
  display: block;
  width: 300px;
  height: 300px;
  margin-left: 152px;
  margin-top: 3px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 305px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 150px;
  margin-top: 286px;
}
.image2 {
  display: none;
  /* Adicione aqui quaisquer estilos adicionais necessários para o input */
}
.welcome-message {
  max-width: 600px;
  margin: 0 auto;
  margin-top: -50px;
  /* Adicione aqui quaisquer estilos adicionais necessários para a mensagem de boas-vindas */
}
.cadastro-container {
  flex: 1;
  /* Adicione aqui quaisquer estilos adicionais necessários para o contêiner de cadastro */
}
.cadastro-rectangle {
  width: 700px;
  height: 400px;
  background-color: #201f26;
  margin-left: -50px;
  margin-top: -50px;
  /* Adicione aqui quaisquer estilos adicionais necessários para o retângulo de cadastro */
}
.cadastro-label {
  padding-top: 5%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 20px;
  color: #ffffff;
  font-family: 'Times New Roman';
  /* Adicione aqui quaisquer estilos adicionais necessários para o rótulo de cadastro */
}
.line {
  display: flex;
  align-items: center;
  width: 440px;
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 5px;
  margin-top: -45px;
  margin-left: 130px;
  margin-top: 5px;
}

.line1 {
  display: none;  
}

.cadastro-input {
  margin-top: 20px;
  width: 440px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times New Roman;
  /* Adicione aqui quaisquer estilos adicionais necessários para o input de cadastro */
}
.cadastro-input2 {
  margin-top: 20px;
  width: 440px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times New Roman;
  /* Adicione aqui quaisquer estilos adicionais necessários para o segundo input de cadastro */
}
.cadastro-NovaSenha {
  margin-top: 5px;
  width: 385px;
  height: 20px;
  border: none;
  border-radius: 8px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times New Roman;
  /* Adicione aqui quaisquer estilos adicionais necessários para a mensagem "Nova Senha" */
}
.cadastro-input3 {
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times New Roman;
  margin-top: 30px;
  cursor: pointer;
  /* Adicione aqui quaisquer estilos adicionais necessários para o input de senha */
}
.mostrarsenha {
  margin-top: 30px;
  width: 10px;
  height: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #d9d9d900;
  background-color: rgba(240, 248, 255, 0);
  border-color: rgba(240, 248, 255, 0);
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de mostrar senha */
}
.mostrarsenha3 {
  width: 40px;
  height: 20px;
  /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar senha */
}
.mostrarsenha2 {
  margin-left: 80px;
  margin-top: 30px;
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #d9d9d900;
  background-color: rgba(240, 248, 255, 0);
  border-color: rgba(240, 248, 255, 0);
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de mostrar senha quando não estiver em modo de edição */
}
.mostrarsenha4 {
  width: 40px;
  height: 20px;
    /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar senha quando não estiver em modo de edição */
}
.alterarsenha {
  margin-top: 30px;  
  margin-bottom: 30px;
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alterar senha */
}
.editButton {
  margin-top: 30px;
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de edição */
}
.cancelButton {
  margin-top: 30px;
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  color: red;
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de cancelar edição */
}
.saveButton {
  margin-top: 30px;
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  margin-left: 40px;
  color: green;
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de salvar alterações */
}
.deleteAccountButton {
  margin-top: 30px;
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  margin-left: 40px;
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de excluir conta */
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adicione aqui quaisquer estilos adicionais necessários para o modal */
}
.modal-content {
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  /* Adicione aqui quaisquer estilos adicionais necessários para o conteúdo do modal */
}
.cadastro-label2 {
  padding-top: 5%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 65px;
  color: #ffffff;
  font-family: 'Times New Roman';
  /* Adicione aqui quaisquer estilos adicionais necessários para o segundo rótulo de cadastro */
}
.line5 {
  display: flex;
  align-items: center;
  width: 310px;
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 5px;
  margin-left: -5px;
  margin-top: 5px;
  /* Adicione aqui quaisquer estilos adicionais necessários para a quinta linha */
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  /* Adicione aqui quaisquer estilos adicionais necessários para o contêiner de entrada */
}
.modal-input {
  display: block;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times New Roman;
  /* Adicione aqui quaisquer estilos adicionais necessários para o input do modal */
}
.toggle-senha {
  margin-top: -30px;
  width: 10px;
  height: 5px;
  border-radius: 8px;
  border-color: rgba(240, 248, 255, 0);
  background-color: rgba(240, 248, 255, 0);
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alternância de senha do modal */
}
.imagem3 {
  width: 40px;
  height: 20px;
  margin-left: -70px;
  /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar senha do modal */
}
.input-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  /* Adicione aqui quaisquer estilos adicionais necessários para o segundo contêiner de entrada */
}
.modal-input2 {
  display: block;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times New Roman;
  /* Adicione aqui quaisquer estilos adicionais necessários para o segundo input do modal */
}
.toggle-senha2 {
  margin-top: -30px;
  margin-left: 0px;
  width: 10px;
  height: 5px;
  border-radius: 8px;
  border-color: rgba(240, 248, 255, 0);
  background-color: rgba(240, 248, 255, 0);
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alternância de senha do modal */
}
.imagem4 {
  width: 40px;
  height: 20px;
  margin-left: -70px;
  /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar confirmação de senha do modal */
}
.line7 {
  display: flex;
  align-items: center;
  width: 310px;
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 5px;
  margin-left: -5px;
  margin-top: 5px;
  /* Adicione aqui quaisquer estilos adicionais necessários para a sétima linha */
}
.modalCancelaButton {
  margin-top: 30px;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de cancelamento do modal */
}
.modalalteraButton {
  margin-top: 30px;
  width: 100px;
  margin-left: 100px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  color: green;
  /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alteração do modal */
}

}


@media (min-width: 600px) and (max-width: 1500px) {
  .image-container-right2
  {
    display: none;
  }
  .welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 0px;
  }
  .container {
    display: flex;
    margin-left: 0px;
    width: 600px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 50px;
  }

  .rectangle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 750px;
    background-color: #201f26;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 0px;    
  }

  .logo {
    position: absolute;
    margin-left: -420px;
    width: 169px;
    height: 40px;
    cursor: pointer; /* Adicionado para indicar que a imagem é clicável */
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Botoes_usuario {
    margin-left: 385px;
    width: 60px;
    height: 60px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
  }
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -15px;
  }
  .user-details-Ul {
    text-align: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Times New Roman';
    font-size: 15px;
    width: 200px;
    list-style: none;
  }
  .user-details-Ul-li1 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .user-details-Ul-li2 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -15px;
  }
  .logout-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de logout */
    cursor: pointer; /* Adicionado para indicar que o elemento é clicável */
  }
  .Botoes_usuario2 {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: -150px;
    width: 60px;
    height: 60px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .image-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adicione aqui quaisquer estilos adicionais necessários para o container de imagem */
    cursor: pointer; /* Adicionado para indicar que o elemento é clicável */
  }
  .user-image-right {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: 0px;
    margin-top: 3px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 224px;
  }
  .image2 {
    display: none;
    /* Adicione aqui quaisquer estilos adicionais necessários para o input */
  }
  .welcome-message {
    max-width: 600px;
    margin: 0 auto;
    margin-top: -150px;
    /* Adicione aqui quaisquer estilos adicionais necessários para a mensagem de boas-vindas */
  }
  .cadastro-container {
    flex: 1;
    /* Adicione aqui quaisquer estilos adicionais necessários para o contêiner de cadastro */
  }
  .cadastro-rectangle {
    width: 700px;
    height: 400px;
    background-color: #201f2600;
    margin-left: -50px;
    /* Adicione aqui quaisquer estilos adicionais necessários para o retângulo de cadastro */
  }
  .cadastro-label {
    padding-top: 5%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -220px;
    margin-left: 20px;
    color: #ffffff;
    font-family: 'Times New Roman';
    /* Adicione aqui quaisquer estilos adicionais necessários para o rótulo de cadastro */
  }
  .line {
    display: flex;
    align-items: center;
    width: 440px;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 5px;
    margin-top: -45px;
    margin-left: 130px;
    margin-top: 5px;
  }

  .line1 {
    display: flex;
    align-items: center;
    width: 440px;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 5px;
    margin-top: -45px;
    margin-left: 130px;
    margin-top: 5px;
  }

  .cadastro-input {
    margin-top: 20px;
    width: 440px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times New Roman;
    /* Adicione aqui quaisquer estilos adicionais necessários para o input de cadastro */
  }
  .cadastro-input2 {
    margin-top: 20px;
    width: 440px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times New Roman;
    /* Adicione aqui quaisquer estilos adicionais necessários para o segundo input de cadastro */
  }
  .cadastro-NovaSenha {
    margin-top: 5px;
    width: 385px;
    height: 20px;
    border: none;
    border-radius: 8px;
    background-color: #201f2600;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times New Roman;
    /* Adicione aqui quaisquer estilos adicionais necessários para a mensagem "Nova Senha" */
  }
  .cadastro-input3 {
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times New Roman;
    margin-top: 30px;
    cursor: pointer;
    /* Adicione aqui quaisquer estilos adicionais necessários para o input de senha */
  }
  .mostrarsenha {
    margin-top: 30px;
    width: 10px;
    height: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #d9d9d900;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de mostrar senha */
  }
  .mostrarsenha3 {
    width: 40px;
    height: 20px;
    /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar senha */
  }
  .mostrarsenha2 {
    margin-left: 80px;
    margin-top: 30px;
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #d9d9d900;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de mostrar senha quando não estiver em modo de edição */
  }
  .mostrarsenha4 {
    width: 40px;
    height: 20px;
    /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar senha quando não estiver em modo de edição */
  }
  .alterarsenha {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alterar senha */
  }
  .editButton {
    margin-top: 30px;
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de edição */
  }
  .cancelButton {
    margin-top: 30px;
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    color: red;
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de cancelar edição */
  }
  .saveButton {
    margin-top: 30px;
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    margin-left: 40px;
    color: green;
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de salvar alterações */
  }
  .deleteAccountButton {
    margin-top: 30px;
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    margin-left: 40px;
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de excluir conta */
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adicione aqui quaisquer estilos adicionais necessários para o modal */
  }
  .modal-content {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    /* Adicione aqui quaisquer estilos adicionais necessários para o conteúdo do modal */
  }
  .cadastro-label2 {
    padding-top: 5%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 65px;
    color: #ffffff;
    font-family: 'Times New Roman';
    /* Adicione aqui quaisquer estilos adicionais necessários para o segundo rótulo de cadastro */
  }
  .line5 {
    display: flex;
    align-items: center;
    width: 310px;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 5px;
    margin-left: -5px;
    margin-top: 5px;
    /* Adicione aqui quaisquer estilos adicionais necessários para a quinta linha */
  }
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    /* Adicione aqui quaisquer estilos adicionais necessários para o contêiner de entrada */
  }
  .modal-input {
    display: block;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times New Roman;
    /* Adicione aqui quaisquer estilos adicionais necessários para o input do modal */
  }
  .toggle-senha {
    margin-top: -30px;
    width: 10px;
    height: 5px;
    border-radius: 8px;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(240, 248, 255, 0);
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alternância de senha do modal */
  }
  .imagem3 {
    width: 40px;
    height: 20px;
    margin-left: -70px;
    /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar senha do modal */
  }
  .input-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    /* Adicione aqui quaisquer estilos adicionais necessários para o segundo contêiner de entrada */
  }
  .modal-input2 {
    display: block;
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times New Roman;
    /* Adicione aqui quaisquer estilos adicionais necessários para o segundo input do modal */
  }
  .toggle-senha2 {
    margin-top: -30px;
    margin-left: 0px;
    width: 10px;
    height: 5px;
    border-radius: 8px;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(240, 248, 255, 0);
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alternância de senha do modal */
  }
  .imagem4 {
    width: 40px;
    height: 20px;
    margin-left: -70px;
    /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar confirmação de senha do modal */
  }
  .line7 {
    display: flex;
    align-items: center;
    width: 310px;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 5px;
    margin-left: -5px;
    margin-top: 5px;
    /* Adicione aqui quaisquer estilos adicionais necessários para a sétima linha */
  }
  .modalCancelaButton {
    margin-top: 30px;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de cancelamento do modal */
  }
  .modalalteraButton {
    margin-top: 30px;
    width: 100px;
    margin-left: 100px;
    height: 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    color: green;
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alteração do modal */
  }
  
  }


  @media (min-width: 0px) and (max-width: 600px) {
    .image-container-right2
    {
      display: none;
    }
    .welcome-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin-top: 15px;
    }
    .container {
      display: flex;
      margin-left: 0px;
      width: 310px;
      height: 140px;
      margin-top: 180px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      border: 2px solid gray;
      border-radius: 10px;
    }
  
    .rectangle {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 310px;
      height: 850px;
      background-color: #201f26;
      border-radius: 10px;
      margin: 0 auto;
      margin-top: 20px;
      margin-left: 0px; 

    }
  
    .logo {
      position: absolute;
      margin-left: 0px;
      margin-top: -90px;
      width: 169px;
      height: 40px;
      cursor: pointer; /* Adicionado para indicar que a imagem é clicável */
    }
    .image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
    }
    .Botoes_usuario {
      margin-left: 35px;
      width: 60px;
      height: 60px;
      border: 2px solid gray;
      border-radius: 10px;
      cursor: pointer;
      margin-bottom: 10px;
    }
    .user-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -15px;
      margin-top: 70px;
    }
    .user-details-Ul {
      text-align: left;
      padding: 0;
      margin: 0;
      list-style-type: none;
      font-family: 'Times New Roman';
      font-size: 15px;
      width: 200px;
      list-style: none;
    }
    .user-details-Ul-li1 {
      font-size: 15px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .user-details-Ul-li2 {
      font-size: 15px;
      margin-bottom: 10px;
      margin-top: -15px;
    }
    .logout-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de logout */
      cursor: pointer; /* Adicionado para indicar que o elemento é clicável */
    }
    .Botoes_usuario2 {
      margin-top: 70px;
      margin-bottom: 4px;
      margin-left: -150px;
      width: 60px;
      height: 60px;
      border: 2px solid gray;
      border-radius: 10px;
      cursor: pointer;
    }
    
    .image-container2 {
      display: flex;      
      flex-direction: column;
      align-items: center;
      /* Adicione aqui quaisquer estilos adicionais necessários para o container de imagem */
      cursor: pointer; /* Adicionado para indicar que o elemento é clicável */
    }
    .user-image-right {
      display: block;
      width: 200px;
      height: 200px;
      margin-left: 50px;
      margin-top: 3px;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-left: 55px;
      margin-top: 499px;
    }
    .image2 {
      display: none;
      /* Adicione aqui quaisquer estilos adicionais necessários para o input */
    }
    .welcome-message {
      max-width: 600px;
      margin: 0 auto;
      margin-top: -50px;
      /* Adicione aqui quaisquer estilos adicionais necessários para a mensagem de boas-vindas */
    }
    .cadastro-container {
      flex: 1;
      /* Adicione aqui quaisquer estilos adicionais necessários para o contêiner de cadastro */
    }
    .cadastro-rectangle {
      width: 300px;
      height: 400px;
      background-color: #201f2600;
      margin-left: -50px;
      /* Adicione aqui quaisquer estilos adicionais necessários para o retângulo de cadastro */
    }
    .cadastro-label {
      padding-top: 5%;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: -270px;
      margin-left: 55px;
      color: #ffffff;
      font-family: 'Times New Roman';
      /* Adicione aqui quaisquer estilos adicionais necessários para o rótulo de cadastro */
    }
    .line {
      display: flex;
      align-items: center;
      width: 250px;
      height: 1px;
      background-color: #ffffff;
      margin-bottom: 5px;
      margin-top: -45px;
      margin-left: 50px;
      margin-top: 5px;
    }

    .line1 {
      display: flex;
      align-items: center;
      width: 250px;
      height: 1px;
      background-color: #ffffff;
      margin-bottom: 5px;
      margin-top: -45px;
      margin-left: 50px;
      margin-top: 5px;
    }
    .cadastro-input {
      margin-top: 20px;
      width: 250px;
      margin-left: 50px;
      height: 40px;
      margin-bottom: 20px;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      background-color: #201f26;
      border-color: #201f26;
      outline: none;
      color: white;
      font-weight: bold;
      font-size: 20px;
      font-family: 'Times New Roman', Times New Roman;
      /* Adicione aqui quaisquer estilos adicionais necessários para o input de cadastro */
    }
    .cadastro-input2 {
      margin-top: 20px;
      width: 250px;
      margin-left: 50px;
      height: 40px;
      margin-bottom: 20px;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      background-color: #201f26;
      border-color: #201f26;
      outline: none;
      color: white;
      font-weight: bold;
      font-size: 20px;
      font-family: 'Times New Roman', Times New Roman;
      /* Adicione aqui quaisquer estilos adicionais necessários para o segundo input de cadastro */
    }
    .cadastro-NovaSenha {
      margin-top: 5px;
      width: 385px;
      height: 20px;
      border: none;
      border-radius: 8px;
      background-color: #201f2600;
      border-color: #201f26;
      outline: none;
      color: white;
      font-weight: bold;
      font-size: 20px;
      font-family: 'Times New Roman', Times New Roman;
      /* Adicione aqui quaisquer estilos adicionais necessários para a mensagem "Nova Senha" */
    }
    .cadastro-input3 {
      width: 150px;
      margin-left: 30px;
      height: 40px;
      margin-bottom: 20px;
      border: none;
      border-radius: 8px;
      padding-left: 20px;
      background-color: #201f26;
      border-color: #201f26;
      outline: none;
      color: white;
      font-weight: bold;
      font-size: 20px;
      font-family: 'Times New Roman', Times New Roman;
      margin-top: 30px;
      cursor: pointer;
      /* Adicione aqui quaisquer estilos adicionais necessários para o input de senha */
    }
    .mostrarsenha {
      margin-top: 30px;
      width: 10px;
      height: 5px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      border: 2px solid #d9d9d900;
      background-color: rgba(240, 248, 255, 0);
      border-color: rgba(240, 248, 255, 0);
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de mostrar senha */
    }
    
    .mostrarsenha2 {
      margin-left: 30px;
      margin-top: 30px;
      width: 40px;
      height: 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      border: 2px solid #d9d9d900;
      background-color: rgba(240, 248, 255, 0);
      border-color: rgba(240, 248, 255, 0);
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de mostrar senha quando não estiver em modo de edição */
    }
    .mostrarsenha4 {
      width: 40px;
      height: 20px;
      margin-left: -10px;
      /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar senha quando não estiver em modo de edição */
    }

    .mostrarsenha3 {
      margin-left: -210px;
      width: 40px;
      height: 20px;
      /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar senha */
    }

    .alterarsenha {
      margin-top: 30px;
      margin-left: 50px;
      width: 200px;
      height: 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      border: 2px solid #D9D9D9;
      background-color: #D9D9D9;
      margin-bottom: 30px;
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alterar senha */
    }
    .editButton {
      margin-top: 30px;
      width: 100px;
      margin-left: 45px;
      height: 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      border: 2px solid #D9D9D9;
      background-color: #D9D9D9;
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de edição */
    }
    .cancelButton {
      margin-top: 30px;
      width: 100px;
      margin-left: 45px;
      height: 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      border: 2px solid #D9D9D9;
      background-color: #D9D9D9;
      color: red;
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de cancelar edição */
    }
    .saveButton {
      margin-top: 30px;
      width: 100px;
      height: 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      border: 2px solid #D9D9D9;
      background-color: #D9D9D9;
      margin-left: 10px;
      color: green;
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de salvar alterações */
    }
    .deleteAccountButton {
      margin-top: 30px;
      width: 100px;
      height: 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      border: 2px solid #D9D9D9;
      background-color: #D9D9D9;
      margin-left: 10px;
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de excluir conta */
    }
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      /* Adicione aqui quaisquer estilos adicionais necessários para o modal */
    }
    .modal-content {
      background-color: #000;
      padding: 20px;
      border-radius: 5px;
      width: 300px;
      /* Adicione aqui quaisquer estilos adicionais necessários para o conteúdo do modal */
    }
    .cadastro-label2 {
      padding-top: 5%;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 0px;
      margin-left: 65px;
      color: #ffffff;
      font-family: 'Times New Roman';
      /* Adicione aqui quaisquer estilos adicionais necessários para o segundo rótulo de cadastro */
    }
    .line5 {
      display: flex;
      align-items: center;
      width: 310px;
      height: 1px;
      background-color: #ffffff;
      margin-bottom: 5px;
      margin-left: -5px;
      margin-top: 5px;
      /* Adicione aqui quaisquer estilos adicionais necessários para a quinta linha */
    }
    .input-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;
      /* Adicione aqui quaisquer estilos adicionais necessários para o contêiner de entrada */
    }
    .modal-input {
      display: block;
      width: 200px;
      height: 40px;
      margin-bottom: 20px;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      background-color: #201f26;
      border-color: #201f26;
      outline: none;
      color: white;
      font-weight: bold;
      font-size: 20px;
      font-family: 'Times New Roman', Times New Roman;
      /* Adicione aqui quaisquer estilos adicionais necessários para o input do modal */
    }
    .toggle-senha {
      margin-top: -30px;
      width: 10px;
      height: 5px;
      border-radius: 8px;
      border-color: rgba(240, 248, 255, 0);
      background-color: rgba(240, 248, 255, 0);
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alternância de senha do modal */
    }
    .imagem3 {
      width: 40px;
      height: 20px;
      margin-left: -70px;
      /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar senha do modal */
    }
    .input-container2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;
      /* Adicione aqui quaisquer estilos adicionais necessários para o segundo contêiner de entrada */
    }
    .modal-input2 {
      display: block;
      width: 200px;
      height: 40px;
      margin-bottom: 20px;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      background-color: #201f26;
      border-color: #201f26;
      outline: none;
      color: white;
      font-weight: bold;
      font-size: 20px;
      font-family: 'Times New Roman', Times New Roman;
      /* Adicione aqui quaisquer estilos adicionais necessários para o segundo input do modal */
    }
    .toggle-senha2 {
      margin-top: -30px;
      margin-left: 0px;
      width: 10px;
      height: 5px;
      border-radius: 8px;
      border-color: rgba(240, 248, 255, 0);
      background-color: rgba(240, 248, 255, 0);
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alternância de senha do modal */
    }
    .imagem4 {
      width: 40px;
      height: 20px;
      margin-left: -70px;
      /* Adicione aqui quaisquer estilos adicionais necessários para a imagem de mostrar/ocultar confirmação de senha do modal */
    }
    .line7 {
      display: flex;
      align-items: center;
      width: 310px;
      height: 1px;
      background-color: #ffffff;
      margin-bottom: 5px;
      margin-left: -5px;
      margin-top: 5px;
      /* Adicione aqui quaisquer estilos adicionais necessários para a sétima linha */
    }
    .modalCancelaButton {
      margin-top: 30px;
      width: 100px;
      height: 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      border: 2px solid #D9D9D9;
      background-color: #D9D9D9;
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de cancelamento do modal */
    }
    .modalalteraButton {
      margin-top: 30px;
      width: 100px;
      margin-left: 100px;
      height: 25px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      border: 2px solid #D9D9D9;
      background-color: #D9D9D9;
      color: green;
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de alteração do modal */
    }
    
    }