<div>
    <img src="../../assets/Logo.png" alt="Logo" class="logo">
    <div class="main-container">
      <div class="rectangle">
        <div  class="login-text">Fazer login com</div>
        <button style="margin-top: 50px;" class="login-button2 google" id="google-button">
        </button>
        <!-- <button class="login-button3 facebook">
            <img src="../../assets/Index/Face.png" alt="Facebook" class="button-icon2">
            Fazer login com o Facebook
        </button> -->
        <div class="or">Ou</div>
        <div class="line"></div>
        <div class="login">
            <img src="../../assets/Index/Login.png" alt="Google" class="login-imagem">
            <div class="login-label"><input placeholder="E-mail" style="margin-top: 20px; width: 300px;" type="text" id="login" name="login" class="home-input" #usernameInput required></div>
        </div>
        <div class="line"></div>
        <div class="password">
            <img src="../../assets/Index/Senha.png" alt="Google" class="password-imagem">
            <div class="password-label">
              <input placeholder="Senha" style="margin-top: 20px; width: 300px; margin-left: 10px;" [type]="mostrarSenha ? 'text' : 'password'" id="senha" name="senha" class="home-input" #passwordInput required>
              <button style="margin-left: 0px; width: 10px; height: 5px; border-radius: 8px; margin-top: 30px; border-color: rgba(240, 248, 255, 0); background-color:  rgba(240, 248, 255, 0);" id="mostrarsenha2" (click)="toggleSenha()" class="mostrarsenha">
                <img style="width: 40px; height: 20px;" class="mostrarsenha" [src]="mostrarSenha ? '../../assets/olho_aberto_white.png' : '../../assets/olho_fechado_white.png'" alt="Mostrar/Ocultar Senha">
              </button>
            </div>
        </div>
        <div class="line"></div>
        <div class="remember-me">
            <input type="checkbox" id="rememberCheckbox" (change)="toggleRememberMe()" [checked]="rememberMe">
            <div class="remember-me2"><label for="rememberCheckbox">Me lembrar</label></div>
            <span class="forgot-password" (click)="navigateToEsqueci()">Esqueceu senha?</span>
        </div>
        <button class="login-button main" (click)="Login()">Login</button>
        <div class="create-account" (click)="navigateToCadastro()">Criar nova conta</div>
      </div>
    </div>
  </div>  