<div>
    <div class="welcome-container">
        <div class="user-info">
            <div class="container">
                <img src="../../assets/Logo.png" alt="Logo" class="logo" (click)="TelaInicial()">
                <div class="image-container">
                    <img style="margin-left: 1040px;" id="selectedImage2" [src]="imagePath" alt="User Image"
                        class="Botoes_usuario" (click)="usuario()">
                </div>
                <div class="user-details">
                    <ul class="user-details-Ul">
                        <li class="user-details-Ul-li1"><strong>ID:</strong> </li>
                        <li class="user-details-Ul-li2"> {{IdUsuario }} </li>
                        <li class="user-details-Ul-li2"><strong>Nome:</strong></li>
                        <li class="user-details-Ul-li2"> {{ (nomeUsuario? nomeUsuario.length : 0) > 9 ? (nomeUsuario |
                            slice:0:9) + '...' : nomeUsuario }} </li>
                    </ul>
                </div>
                <div class="logout-button" (click)="logout()">
                    <img style="margin-top: 4px;" src="../../assets/Logout.png" alt="Logout" class="Botoes_usuario" />
                </div>
            </div>
        </div>
        <div class="rectangle">
            <div class="welcome-message">
                <div class="rectangle2">
                    <div>
                        <input style="width: 1070px; height: 25px; margin-top: 0px; margin-right: 0px;" type="text"
                            class="input" name="procura" placeholder="id ou Nome da equipe" maxlength="25" #procura
                            required>
                        <button style="width: 180px; margin-left: 10px;" class="equipe-btn" (click)="botaopesquisarlistaEquipes()" >Pesquisar</button>
                        <button style="width: 180px; margin-left: 10px; margin-bottom: 10px;" (click)="LimpapesquisarlistaEquipes()" class="equipe-btn">Limpa
                            filtro</button>
                    </div>
                    <div *ngIf="!filtrou">
                        <div *ngFor="let equipe of equipesNaPaginaAtual; let i = index" class="equipe-container">
                            <div class="equipe-containerdiv">
                                <img style="margin-left: 1040px" id="selectedImage" [src]="equipe.foto" alt="User Image"
                                    class="Botoes_usuario" (click)="fileInput.click()">
                                <input type="file" accept="image/png, image/jpeg" #fileInput
                                    (change)="onImageSelected($event,equipe.id)" style="display:none" class="image2">
                            </div>
                            <span class="nomeequipe">Nome da Equipe: {{ equipe.nome }}</span>
                            <span class="nomeequipe">Número da Equipe: {{ equipe.id }}</span>
                            <div class="equipe-containerdiv2">
                                <button class="equipe-btn" (click)="excluirEquipe(equipe.id, equipe.nome)">Excluir
                                    Equipe</button>
                                <button class="equipe-btn" (click)="Teladetalhes(equipe.id.toString(), 'D')">Detalhes
                                    Adicionais</button>
                                <button class="equipe-btn2" (click)="Teladetalhes(equipe.id.toString(), 'A')">Alterar
                                    Detalhes</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="filtrou && existe">
                        <div *ngFor="let equipe of equipesNaPaginaAtual2; let i = index" class="equipe-container">
                            <div class="equipe-containerdiv">
                                <img style="margin-left: 1040px" id="selectedImage" [src]="equipe.foto" alt="User Image"
                                    class="Botoes_usuario" (click)="fileInput.click()">
                                <input type="file" accept="image/png, image/jpeg" #fileInput
                                    (change)="onImageSelected($event,equipe.id)" style="display:none" class="image2">
                            </div>
                            <span class="nomeequipe">Nome da Equipe: {{ equipe.nome }}</span>
                            <span class="nomeequipe">Número da Equipe: {{ equipe.id }}</span>
                            <div class="equipe-containerdiv2">
                                <button class="equipe-btn" (click)="excluirEquipe(equipe.id, equipe.nome)">Excluir
                                    Equipe</button>
                                <button class="equipe-btn" (click)="Teladetalhes(equipe.id.toString(), 'D')">Detalhes
                                    Adicionais</button>
                                <button class="equipe-btn2" (click)="Teladetalhes(equipe.id.toString(), 'A')">Alterar
                                    Detalhes</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="filtrou && !existe">
                        <div  class="equipe-container">
                            <p style="color: black; font-size: 30px;font-family: 'Times New Roman', 'Times New Roman' ;margin-bottom: 5px;" ><strong>Não existem equipes nas condições passadas!</strong></p>
                        </div>
                    </div>


                    <span *ngIf="!filtrou" class="pagina-info">Página {{ paginaAtual }}/{{ totalDePaginas }}</span>
                    <span *ngIf="filtrou && existe" class="pagina-info">Página {{ paginaAtual }}/{{ totalDePaginas2 }}</span>
                    <span *ngIf="filtrou && !existe" class="pagina-info">Página 1/1</span>
                    <button class="btn-left2" style="margin-bottom: 10px;" (click)="mudarPagina(-1)"
                        [disabled]="paginaAtual === 1">Anterior</button>
                    <button *ngIf="!filtrou" class="btn-right2" style="margin-bottom: 10px;" (click)="mudarPagina(1)"
                        [disabled]="paginaAtual >= (equipes.length / equipesPorPagina)">Próximo</button>                    
                    <button *ngIf="filtrou"  class="btn-right2" style="margin-bottom: 10px;" (click)="mudarPagina(1)"
                        [disabled]="paginaAtual >= (equipes2.length / equipesPorPagina)">Próximo</button>
                </div>
                <div class="footer">
                    <button class="btn-left" (click)="TelaInicial()">Voltar</button>
                    <button class="btn-right" (click)="criarNovaEquipe()">(+) Criar nova equipe?</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal para criar nova equipe -->
<div class="modal" *ngIf="exibirModal">
    <div class="modal-content">
        <span class="close" (click)="fecharModal()">&times;</span>
        <p class="cadastro-label2">Indique o nome da nova equipe</p>
        <input class="modalCampo" type="text" #nomeEquipe placeholder="Nome da equipe" required>
        <div class="modal-actions">
            <button class="modalCancelaButton" (click)="confirmarCancelar()">Cancelar</button>
            <button class="modalcriarButton" (click)="confirmarCriacao()">Criar</button>
        </div>
    </div>
</div>