.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-top: 50px;
  height: 80px;
}

  
  
  .user-details-Ul {
    text-align: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Times New Roman';
    font-size: 20px;
    width: 200px;
    list-style: none;
  }
  .user-details-Ul-li1 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .user-details-Ul-li2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -15px;
  }
  
  .Botoes_usuario {
    width: 70px;
    height: 70px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
  
  .logo {
    position: absolute;
    left: 57px;
    width: 276px;
    height: 65px;
    cursor: pointer;
  }
  
  .image-container, .user-details-and-logout {
    display: flex;
    flex-direction: column; /* Organiza os itens internos verticalmente */
    align-items: center; /* Centraliza os itens internos verticalmente */
  }
  
  .user-details ul {
    text-align: left; /* Alinha o texto à direita */
    padding: 0; /* Remove o preenchimento */
    margin: 0; /* Remove a margem */
    list-style-type: none; /* Remove os marcadores de lista */
    font-family: "Times New Roman";
    font-size: 20px;
  }
  
  
  
  .rectangle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1500px;
    height: 600px;
    background-color: #201f26;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", sans-serif;
    background-color: #201f26;
    color: white;
  }
  
  .welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .welcome-message {
    max-width: 600px;
    margin: 0 auto;
  }

  .top {
    display: block;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2); /* Cinza claro com transparência de 80% */
    position: fixed;
    width: 1460px;
    margin-left: -10px;    
    margin-top: -70px;
    border-radius: 8px;
    height: 30px;
  }
  

  .input {

    margin-top: 10px;
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-right: 10px;
    padding: 5px;
  }

  input[type="text"] {
  
    margin-top: 10px;
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-right: 10px;
    padding: 5px;
  }

  .participante-btn, .participante-btn2 {
    width: 210px;
    height: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    background-color: #D9D9D9;
    font-family: 'Times New Roman';
    margin-top: 5px;
  }
  
  .participante-btn2 {    
    margin-bottom: 10px;
  }

  .welcome-message {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .welcome-message h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .welcome-message ul {
    list-style: none;
    padding: 0;
  }
  
  .welcome-message li {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .participante-container {
    width: 1460px;
    height: 100px;
    background-color: #d9d9d96b; /* Fundo cinza */
    display: flex;
    justify-content: space-between; /* Distribui os botões uniformemente */
    margin-bottom: 10px; /* Espaço entre cada participante */      
    border-radius: 8px;
    align-items: center;
  }

  .participante-containerdiv {
    margin-top: 10px;
  }

  .Botoes_usuario2 {
    width: 80px;
    height: 80px;
    border: 2px solid gray; /* Adiciona uma borda cinza */
    border-radius: 10px; /* Adiciona cantos arredondados */    
    cursor: pointer;
    margin-left: 10px;
  }

  .dados{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente os itens */
    justify-content: center; /* Centraliza verticalmente dentro do contêiner */
    margin-left: 50px;
  }

  .nomeparticipante{ 
    margin-top: 0px;   
    font-size: 20px;
    color: white;    
    font-weight: bold;
    font-family: 'Times New Roman';
  }
  

  .participante-containerdiv2 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente os itens */
    justify-content: center; /* Centraliza verticalmente dentro do contêiner */
  }

  .participante-btn2 {
    width: 210px;
    height: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    background-color: #D9D9D9;
    font-family: 'Times New Roman';
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .participante-container3 {
    width: 1460px;
    height: 120px;
    background-color: #d9d9d96b; /* Fundo cinza */
    display: flex;
    flex-direction: column; /* Alinha os botões verticalmente */
    justify-content: space-between; /* Distribui os botões uniformemente */
    margin-bottom: 10px; /* Espaço entre cada participante */      
    border-radius: 8px;
    align-items: center;
  }
  
  .pagina-info {
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário para alinhar verticalmente */
    font-size: 16px;
    left : 10px;
    font-size: 20px;
    color: white;    
    font-weight: bold;
    font-family: 'Times New Roman';
  }

  .btn-left2 {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 0; /* Fixa os botões na parte inferior da div */
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    font-family: 'Times New Roman';
    right: 420px;
  }

  .btn-right2 {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 0; /* Fixa os botões na parte inferior da div */
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    right: 10px;
    font-family: 'Times New Roman';
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2); /* Cinza claro com transparência de 80% */
    position: fixed;
    bottom: 10px;
    width: 1460px;
    margin-left: -740px;    
    border-radius: 8px;
    height: 40px;
  }

  .CriarparticipanteButton {
    margin-top: 0px;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    font-family: 'Times New Roman', 'Times New Roman';
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de edição */
  }

  .rectangle2 {
    display: block;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2); /* Cinza claro com transparência de 80% */
    position: fixed;
    width: 1460px;
    height: 370px;
    margin-left: -740px; 
    margin-top: -230px;   
    border-radius: 8px;
    padding-bottom: 70px; /* Espaço suficiente para não sobrepor os botões */
  }

  .participanteparticipante {
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-left: 10px;
    padding: 5px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adicione aqui quaisquer estilos adicionais necessários para o modal */
  }
  .modal-content {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    width: 700px;
    /* Adicione aqui quaisquer estilos adicionais necessários para o conteúdo do modal */
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  .cadastro-label2 {
    padding-top: 5%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 0px;
    color: #ffffff;
    font-family: 'Times New Roman';
    /* Adicione aqui quaisquer estilos adicionais necessários para o segundo rótulo de cadastro */
  }

  .button2 {
    margin-right: 10px;
    padding: 5px 10px;
    margin-top: 30px;
    width: 300px;
    height:35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
  
  
  }

  .button3 {
    margin-right: 10px;
    padding: 5px 10px;
    margin-top: 30px;
    width: 340px;
    height: 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
  }

  .notacao-dropdown {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    padding: 5px;
    margin-left: 5px;
  }

  .input {

    margin-top: 10px;
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-right: 10px;
    padding: 5px;
  }

  input[type="text"] {
  
    margin-top: 10px;
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-right: 10px;
    padding: 5px;
  }
  
  .notacao-fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    width: 95%; 
    margin-bottom: 10px;
  }

  .parametros-container {
    max-height: 300px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo ultrapassa a altura máxima */
  }

  .Botoes_usuario3 {
    width: 70px;
    height: 70px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1040px;
}


  .input_inline1 {
    margin-top: 0px;
    width: 700px;
    height: 25px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", "Times New Roman";
    margin-right: 0px;
    padding: 5px;
  }

  .textotop{
   
      color: white;
      font-size: 30px;
      font-family: 'Times New Roman', 'Times New Roman';
      margin-top: 0px;
  
  }

  .naoexistemdados {
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-bottom: 5px;
  }

  .participante-btn{
    width: 180px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  

body {
  font-family: 'Times New Roman', Times, serif;
}

.overlay_alertBox {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Sit on top */
}

.alert {
  max-width: 280px;
  width: 100%; /* Ensure the width is constrained */
  background-color: black; /* Black background */
  color: white;
  padding: 20px;
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the alert */
  z-index: 1001; /* Sit on top of the overlay_alertBox */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word; /* Ensure long words break */
  box-sizing: border-box; /* Include padding in the width */
}

.alert .message_customAlert {
  margin: 0 0 40px 0; /* Add bottom margin to ensure space for the button */
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word; /* Ensure long words break */
}

.alert .okbtn {
  background-color: #d9d9d9; /* Gray background */
  color: black; /* Black text */
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.alert .okbtn:hover {
  background-color: darkgray;
}

  

.overlay_customConfirm {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Sit on top */
}

.confirm_customConfirm {
  max-width: 280px;
  width: 100%; /* Ensure the width is constrained */
  background-color: black; /* Black background */
  color: white;
  padding: 20px;
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the confirm */
  z-index: 1001; /* Sit on top of the overlay_customConfirm */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word; /* Ensure long words break */
  box-sizing: border-box; /* Include padding in the width */
}

.confirm_customConfirm .message_customConfirm {
  margin: 0 0 40px 0; /* Add bottom margin to ensure space for the buttons */
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word; /* Ensure long words break */
}

.confirm_customConfirm .button-container_customConfirm {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Space between buttons */
}

.confirm_customConfirm .okbtn_customConfirm, .confirm_customConfirm .cancelbtn_customConfirm {
  background-color: #d9d9d9; /* Gray background */
  color: black; /* Black text */
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  width: 100px; /* Ensure both buttons have the same width */
}

.confirm_customConfirm .okbtn_customConfirm:hover, .confirm_customConfirm .cancelbtn_customConfirm:hover {
  background-color: darkgray;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os itens à esquerda */
  width: 150px; /* Define a largura do contêiner para 150px */
  text-align: left;
}

.user-details-label {
  margin-bottom: 5px; /* Espaço entre o label e o conteúdo */
  width: 50px; /* Garante que o label ocupe 100% da largura do contêiner */
}

.user-details-content.nome-usuario {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limita o texto a 2 linhas */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 100%; /* Garante que o conteúdo ocupe 100% da largura do contêiner */
  word-wrap: break-word;
}


  @media screen and (min-width: 1000px) and (max-width: 1599px) {
  
    .Botoes_usuario3{
      margin-left: 583px;
  }
  
    .rectangle {
      width: 980px;
      height: 600px;  
      margin-top: 0px;  
    }
  
    .rectangle2 {
      width: 940px;
      margin-left: -480px;
    }
  
    .top {
      width: 940px;
    }
  
    
    .input2 {
      width: 550px;
    }
  
    .equipe-container {
      width: 940px;    
    }
  
    .equipe-container3 {
      width: 940px;    
    }
  
    .footer {
      width: 940px;
      margin-left: -480px;    
    }
  
  
    .container {
      margin-top: 0px;
    }



    /* apartir daqui */

    .Botoes_usuario2 {
      width: 70px;
      height: 70px;
      border: 2px solid gray;
      border-radius: 10px;
      cursor: pointer;
      margin-left: 10px;
  }

  .participante-container {
    width: 940px;
    height: 100px;
    background-color: #d9d9d96b;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 8px;
    align-items: center;
}


.nomeparticipante {
  margin-top: 0px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: "Times New Roman";
}

.participante-btn2 {
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin-top: 5px;
  margin-bottom: 10px;
}

.input_inline1 {
  margin-top: 0px;
  width: 700px;
  height: 25px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 0px;
  padding: 5px;
}


.input_inline1 {
  margin-top: 0px;
  width: 310px;
  height: 25px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 0px;
  padding: 5px;
}


.participanteparticipante {
  width: 230px;
  height: 35px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  margin-left: 10px;
  padding: 5px;
}

.participante-container3 {
  width: 940px;
  height: 120px;
  background-color: #d9d9d96b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 8px;
  align-items: center;
}


  }


  @media screen and (min-width: 600px) and (max-width: 999px) {
  
    .logo {
      position: absolute;
      left: 10px;
      width: 165px;
      height: 40px;
      top: 25px
    }
  
    .Botoes_usuario3 {
      margin-left: 340px;
      width: 60px;
      height: 60px;
    }
  
    .Botoes_usuario {
      width: 60px;
      height: 60px;  
    }
  
    .user-details-Ul {
      font-size: 13px;
      width: 60px;
    }
  
    .user-details-Ul-li1 {
      font-size: 13px;    
    }
    
    .user-details-Ul-li2 {
      font-size: 13px;
    }
  
    .rectangle {
      width: 580px;
      height: 400px;  
      margin-top: 0px;  
    }
  
    .rectangle2 {
      width: 540px;
      margin-left: -280px;
      height: 180px;
      margin-top: -140px; 
    }
  
    .top {
      width: 540px;
      height: 20px;
      margin-top: -60px;
    }
  
    
    .input2 {
      width: 294px;
      height: 18px;
      font-size: 14px;
    }
  
    .input3 {
      width: 294px;
      height: 18px;
      font-size: 14px;
      width: 150px;
    }
  
    .equipe-container {
      width: 540px;    
      height: 80px;
    }
  
    .equipe-container3 {
      width: 540px;    
      height: 80px;   
    }
  
    .footer {
      width: 540px;
      margin-left: -280px;    
    }
  
  
    .container {
      margin-top: 2px;
    }
    
    .textotop{
      font-size: 20px;
      margin-top: 0px;
    }

    .input_inline1 {
      margin-top: 0px;
      width: 165px;
      height: 20px;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      background-color: #201f26;
      border-color: #201f26;
      outline: none;
      color: white;
      font-weight: bold;
      font-size: 14px;
      font-family: "Times New Roman", "Times New Roman";
      margin-right: 0px;
      padding: 5px;
  }

  .participanteparticipante {
    width: 135px;
    height: 29px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: "Times New Roman", "Times New Roman";
    margin-left: 10px;
    padding: 5px;
}

.participante-btn, .participante-btn2 {
  width: 210px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin-top: 0px;
}

.participante-btn{
  width: 100px;
  margin-left: 10px;
}


.participante-btn2 {
  width: 100px; 
}

.Botoes_usuario2 {
  width: 50px;
  height: 50px;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.nomeparticipante {
  margin-top: 0px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  font-family: "Times New Roman";
}

.participante-container {
  width: 540px;
  height: 80px;
  background-color: #d9d9d96b;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 8px;
  align-items: center;
}

.btn-left2 {
  width: 150px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  right: 169px;
}

.btn-right2 {
  width: 150px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  right: 10px;
  font-family: "Times New Roman";
}

.pagina-info {
  position: absolute;
  bottom: 20px;
  font-size: 16px;
  left: 10px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  font-family: "Times New Roman";
  bottom: 13px;
}


.CriarparticipanteButton {
  margin-top: 5px;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman", "Times New Roman";
}

.participante-container3 {
  width: 540px;
  height: 80px;
  background-color: #d9d9d96b;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 8px;
  align-items: center;
}

.naoexistemdados {
  color: black;
  font-size: 24px;
  font-family: "Times New Roman", "Times New Roman";
  margin-bottom: 5px;
}    

.btn-left2 {
  width: 150px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  right: 169px;
}

.btn-right2 {
  width: 150px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  right: 10px;
  font-family: "Times New Roman";
}

.cadastro-label2{
  padding-top: 8px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 0px;
  color: #ffffff;
  font-family: "Times New Roman";
}

.notacao-dropdown {
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 13px;
  font-family: "Times New Roman", "Times New Roman";
  padding: 5px;
  margin-left: 5px;
}

.parametros-container {
  max-height: 175px;
  overflow-y: auto;
}

.modal-content {
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
}

.button3 {
  margin-right: 10px;
  padding: 5px 10px;
  margin-top: 25px;
  width: 240px;
  height: 35px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
}


.user-details-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60px;
  text-align: left;
}


  }

  @media screen and (min-width: 0px) and (max-width: 599px) {
  
    .welcome-container {
      top: 50%;
      margin-top: 50px;
    }
  
    .logo {
      position: absolute;
      margin-left: 0px;
      margin-top: -90px;
      width: 169px;
      height: 40px;
      cursor: pointer; /* Adicionado para indicar que a imagem é clicável */
    }
  
    .image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
    }
  
    .user-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -15px;
      margin-top: 70px;
    }
  
    .logout-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Adicione aqui quaisquer estilos adicionais necessários para o botão de logout */
      cursor: pointer; /* Adicionado para indicar que o elemento é clicável */
      margin-top: 68px;
      margin-left: 80px;
    }
  
  
    .Botoes_usuario3 {
      margin-left: 0px;
      width: 60px;
      height: 60px;
    }
  
    .Botoes_usuario {
      width: 60px;
      height: 60px;  
    }
  
    .user-details-Ul {
      font-size: 13px;
      width: 60px;
    }
  
    .user-details-Ul-li1 {
      font-size: 13px;    
    }
    
    .user-details-Ul-li2 {
      font-size: 13px;
    }
  
    .rectangle {
      width: 300px;
      height: 430px;
      margin-top: 0px;  
    }
  
    .rectangle2{
      width: 260px;
      margin-left: -140px;
      height: 243px;
      margin-top: -160px;
  }
  
    .top {
      width: 260px;
      height: 20px;
      margin-top: -58px;
    }
  
    
    .input2 {
      width: 240px;
      height: 18px;
      font-size: 14px;
      margin-left: 0px;
    }
  
    .input3 {
      height: 18px;
      font-size: 14px;
      width: 230px;
    }
  
    
  
    .equipe-container3 {
      width: 260px;    
      height: 80px; 
      margin-left: 2px;  
      margin-top: 10px;
    }
  
    .footer {
      width: 260px;
      margin-left: -140px;    
      flex-direction: column;
      height: 14px;
    }
  
  
    .container {
      margin-top: 2px;
      height: 140px;
    }
    
    .textotop {
      font-size: 15px;
      margin-top: -6px;
  }

  .participante-container {
    width: 240px;
    height: 100px;
    background-color: #d9d9d96b;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 8px;
    align-items: center;
}

.input_inline1 {
  margin-top: 0px;
  width: 250px;
  height: 20px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 0px;
  padding: 5px;
}

.participanteparticipante {
  width: 260px;
  height: 25px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-left: 0px;
  padding: 5px;
  margin-top: 5px;
}

.participante-btn, .participante-btn2 {
  width: 210px;
  height: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin-top: 5px;
}

.participante-btn {
  width: 120px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.nomeparticipante {
  margin-top: 0px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  font-family: "Times New Roman";
}

.Botoes_usuario2 {
  width: 40px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.participante-btn2 {
  margin-right: 10px;
  width: 195px;
  margin-left: -187px;
  margin-top: 83px;
}
.dados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-top: -25px;
}

.participante-btn2 {
  margin-right: 10px;
  width: 195px;
  margin-left: -187px;
  margin-top: 104px;
}

.participante-container {
  width: 260px;
  height: 120px;
  background-color: #d9d9d96b;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 8px;
  align-items: center;
}

.CriarparticipanteButton {
  margin-top: -4px;
  width: 250px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin-left: 5px;
}

.listagemequipes{
  overflow-y: auto;
  max-height: 175px;
  width: 264px;
  border: 2px solid black;
  border-color: black;
  border-radius: 8px;
  margin-left: -4px;
}

.participante-container3 {
  width: 260px;
  height: 120px;
  background-color: #d9d9d96b;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 8px;
  align-items: center;
}

.naoexistemdados {
  color: black;
  font-size: 22px;
  font-family: "Times New Roman", "Times New Roman";
  margin-bottom: 5px;
}

.modal-content {
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  width: 240px;
}

.button3 {
  margin-right: 10px;
  padding: 5px 10px;
  margin-top: 30px;
  width: 110px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
}

.cadastro-label2 {
  padding-top: 0px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 0px;
  color: #ffffff;
  font-family: "Times New Roman";
}

.notacao-dropdown {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  padding: 5px;
  margin-left: 0px;
}

.notacao-fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 10px;
}

.parametros-container {
  max-height: 180px;
  overflow-y: auto;
}


.logout-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 68px;
  margin-left: 0px;
}


.user-details-container {
display: flex;
flex-direction: column;
align-items: flex-start;
width: 137px;
text-align: left;
}


}