<div>
    <div class="welcome-container">
        <div class="user-info">
            <div class="container">
                <img src="../../assets/Logo.png" alt="Logo" class="logo" (click)="TelaInicial()">
                <div class="image-container">
                    <img style="margin-left: 1040px;" id="selectedImage2" [src]="imagePath" alt="User Image"
                        class="Botoes_usuario" (click)="usuario()">
                </div>
                <div class="user-details">
                    <ul class="user-details-Ul">
                        <li class="user-details-Ul-li1"><strong>ID:</strong> </li>
                        <li class="user-details-Ul-li2"> {{IdUsuario }} </li>
                        <li class="user-details-Ul-li2"><strong>Nome:</strong></li>
                        <li class="user-details-Ul-li2"> {{ (nomeUsuario? nomeUsuario.length : 0) > 9 ? (nomeUsuario |
                            slice:0:9) + '...' : nomeUsuario }} </li>
                    </ul>
                </div>
                <div class="logout-button" (click)="logout()">
                    <img style="margin-top: 4px;" src="../../assets/Logout.png" alt="Logout" class="Botoes_usuario" />
                </div>
            </div>
        </div>
        <div class="rectangle">
            <div class="welcome-message">
                <div *ngIf="tipotela == 'D'" class="linha linha3" style="margin-top: 10px; border-radius: 10px;">
                    <p style="color: rgba(255, 255, 255, 0);">.</p>
                    <p
                        style="color: white; font-size: 30px;font-family: 'Times New Roman', 'Times New Roman'; margin-top: -10px">
                        Consulta de dados do Evento</p>
                </div>
                <div class="linha linha1" style="margin-top: 20px; border-radius: 10px;">
                    <div class="coluna esquerda">
                        <img [src]="imagePath2" alt="Imagem"
                            style="width: 200px; height: 200px; margin-top: 70px; border-radius: 10px;">
                    </div>
                    <div class="coluna direita">
                        <div class="sublinha">
                            <input style="width: 800px;" type="text" name="nomeEquipe" placeholder="Nome da Equipe" #nomeEquipe required
                                [disabled]="true">
                        </div>
                        <div class="sublinha">
                            <input style="width: 190px;" type="text" name="nomeEquipe" placeholder="ID Evento" #IdEvento required
                            [disabled]="true">
                            <input style="width: 590px;" type="text" name="sigla"
                                placeholder="Nome do Evento*" #nomeevento required
                                [disabled]="true">                            
                        </div>
                        <div class="sublinha">     
                            <input style="width: 490px;" type="text" name="nomeEquipe" placeholder="Local do evento* - Escolha no mapa" #localevento required
                                [disabled]="true">      
                                <button style="margin-top: 10px;" (click)="abrirmapa()">Encontrar no mapa</button>                 
                        </div>
                        <div class="container-flex">
                            <div class="container-flex" style="margin-top: -13px;">
                                <select class="EquipeEvento" id="EquipeEvento" (change)="SetaFrequenciaEvento()" onchange="teste124252()"  [disabled]="tipotela == 'D'">
                                    <option value="0">Evento Semanal</option>
                                    <option value="1">Evento Único</option>
                                </select>  
                                <p style="margin-left: 10px; margin-top: 35px;" class="cadastro-label3">Hora do Evento: </p>
                                <input style="width: 438px; margin-left: 10px;" type="time" name="nomeEquipe" placeholder="Hora do próximo evento*" #horaevento required 
                                    [disabled]="tipotela == 'D'">
                            </div>                                                      
                        </div> 
                        <div class="container-flex"> 
                            <fieldset *ngIf="!frequencia" style="display: flex; width: 780px; margin-left: 160px; margin-top: -20px;">
                                <legend>Dias da Semana</legend>
                                <p class="cadastro-label3">Seg</p>
                                <input type="checkbox" [checked]="Seg" #segunda  [disabled]="tipotela == 'D'">
                                <p class="cadastro-label3" >Ter</p>
                                <input type="checkbox" [checked]="Ter" #terca  [disabled]="tipotela == 'D'">
                                <p class="cadastro-label3" >Qua</p>
                                <input type="checkbox" [checked]="Qua" #quarta  [disabled]="tipotela == 'D'">
                                <p class="cadastro-label3" >Qui</p>
                                <input type="checkbox" [checked]="Qui" #quinta  [disabled]="tipotela == 'D'">
                                <p class="cadastro-label3" >Sex</p>
                                <input type="checkbox" [checked]="Sex" #sexta  [disabled]="tipotela == 'D'">
                                <p class="cadastro-label3" >Sab</p>
                                <input type="checkbox" [checked]="Sab" #sabado  [disabled]="tipotela == 'D'">
                                <p class="cadastro-label3" >Dom</p>
                                <input type="checkbox" [checked]="Dom" #domingo  [disabled]="tipotela == 'D'">
                            </fieldset>
                            <fieldset *ngIf="frequencia" style="display: flex; width: 780px; margin-left: 160px; margin-top: -20px;" >
                                <legend>Dia do Evento</legend>
                            <input  style="width: 750px; margin-left: 10px;" type="date" name="diaevento" placeholder="Data do próximo evento*" id="diaevento" #diaevento required 
                                [disabled]="tipotela == 'D'">                                 
                            </fieldset>                                                 
                        </div>                                               
                    </div>
                </div>
                <div class="linha linha2" style="margin-top: 10px; border-radius: 10px;">
                    <div class="sublinha">
                        <button class="sortear-button" (click)="abrirsorteio()">
                            <div class="botaosortear">
                                <p style="margin-top: -15px;">Sortear Equipes</p>
                                <img src="../../assets/dado.png" alt="Dado"
                                    style="width:50px; height:50px; margin-top: -13px;">
                            </div>
                        </button>
                        <button class="sortear-button" (click)="AbrirCustos()">                            
                                Gestão Custos  
                        </button>
                        <button *ngIf="tipotela == 'D'" (click)="TelaCriacaoevento()">Voltar</button>
                    </div>
                </div>
                <div *ngIf="tipotela == 'A'" class="linha linha3" style="margin-top: 10px; border-radius: 10px;">
                    <div class="sublinha">
                        <button *ngIf="tipotela == 'A'" style="color: green;" (click)="Gravadados()" >Confirmar</button>
                        <button *ngIf="tipotela == 'A'" style="color: red;" (click)="Canceladados()">Cancelar</button>
                        <button *ngIf="tipotela == 'A'" (click)="TelaCriacaoevento()">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal para Gerir participantes na equipe -->
<div class="modal" *ngIf="exibirmapa">    
    <div class="modal-content">
        <span class="close" (click)="fecharmapa()">&times;</span>
        <p class="cadastro-label2">Encontre no mapa o local</p>        
        <div *ngIf="tipotela == 'A'" >
            <input style="width: 470px;" type="text" name="modalnomeEquipe" placeholder="Digite o local para pesquisa!" #localevento2 required>      
            <button style="margin-top: 10px; width: 200px; margin-bottom: 10px;" (click)="pesquisarLocal()">Pesquisar</button> 
        </div>
        <div #mapContainer class="map-container" ></div> 
        <div *ngIf="tipotela == 'A'" >
            <fieldset style="width: 660px; margin-top: 10px;" >
                <legend >
                    Local Definido para o evento: 
                </legend>
                <input style="width: 640px;" type="text" name="nomeEquipe" placeholder="Local Definido para o evento" #localevento3 required
                                    [disabled]="true" > 
            </fieldset >
        </div>               
        <div>
            <button *ngIf="tipotela == 'A'" style="width: 340px; color: green;" (click)="confirmaLocal()">Confirmar</button>
            <button *ngIf="tipotela == 'A'" style="width: 340px; color: red;" (click)="cancelaLocal()">Cancelar</button>
        </div>
    </div>
</div>

<div class="modal" *ngIf="exibircustos">
    <div class="modal-content">
        <span class="close" (click)="fecharcustos()">&times;</span>
        <p class="cadastro-label2">Defina os Participantes de sua equipe que pagaram</p>        
        <fieldset style="margin-top: 10px;">
            <legend>Participantes da Equipe</legend>
            <div *ngIf="tipotela == 'A'">
                <input style="width: 260px;" type="text" name="procura" placeholder="id ou email do participante"
                    maxlength="25" #procura2 required>
                <button style="width: 180px;" class="modalpesquisarButton"
                (click)="botaopesquisarlistaparticipantesCusto()"
                    >Pesquisar</button>
                <button style="width: 180px;" class="modalpesquisarButton"
                (click)="LimpapesquisarlistaparticipantesCusto()"    
                    >Limpa filtro</button>
            </div>
            <div *ngIf="!filtrou" class="parametros-container" style="margin-top: 20px;">
                <div *ngFor="let participante of participantesSelecionados; let i = index"
                    style="display: flex; align-items: center; margin-bottom: 10px;">
                    <fieldset style="width: 530px; height: 70px; display: flex;">
                        <legend>Dados do participante</legend>
                        <img [src]="participante.imagem" style="width: 50px; height: 50px;">
                        <div style="margin-left: 20px;">
                            <p
                                style="color: white; font-size: 18px;font-family: 'Times New Roman', 'Times New Roman'; margin-top: 0px;margin-bottom: 5px;">
                                <strong>{{ participante.nome }}</strong>
                            </p>
                            <p
                                style="color: white; font-size: 18px;font-family: 'Times New Roman', 'Times New Roman'; margin-top: 0px;">
                                {{ participante.email }}</p>
                        </div>
                    </fieldset>
                    <div>
                        <fieldset class="importancia-fieldset" style="height: 70px; margin-right: 1px;">
                            <legend>Pagou</legend>
                            <input style="margin-left: 20px;"  [disabled]="tipotela == 'D'" type="checkbox" id="rememberCheckbox"  (click)="setarpagador(i)"
                                [checked]="participante.Pagou">
                        </fieldset>
                    </div>                    
                </div>
            </div>
            <div *ngIf="filtrou && existenalistaparticipantes" class="parametros-container" style="margin-top: 20px;">
                <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <fieldset style="width: 530px; height: 70px; display: flex;">
                        <legend>Dados do participante</legend>
                        <img [src]="imagempesquisalistaparticipante" style="width: 50px; height: 50px;">
                        <div style="margin-left: 20px;">
                            <p
                                style="color: white; font-size: 18px;font-family: 'Times New Roman', 'Times New Roman'; margin-top: 0px;margin-bottom: 5px;">
                                <strong>{{nomepesquisalistaparticipante}}</strong>
                            </p>
                            <p
                                style="color: white; font-size: 18px;font-family: 'Times New Roman', 'Times New Roman'; margin-top: 0px;">
                                {{ emailpesquisalistaparticipante }}</p>
                        </div>
                    </fieldset>
                    <div>
                        <fieldset class="importancia-fieldset" style="height: 70px; margin-right: 1px;">
                            <legend>Pagou</legend>
                            <input style="margin-left: 20px;" type="checkbox" id="rememberCheckbox"
                            (click)="setarpagador(idpesquisalistaparticipante)"
                                [checked]="Pagadorpesquisalistaparticipante">
                        </fieldset>
                    </div>                    
                </div>
            </div>
            <div *ngIf="filtrou && !existenalistaparticipantes" class="resultado-pesquisa"
                style="display: flex; align-items: center; margin-top: 20px;">
                <p style="color: white; font-size: 25px;font-family: 'Times New Roman', 'Times New Roman';">Não existem
                    dados para a pesquisa!</p>
            </div>
        </fieldset>
        <div class="parametros-container" style="margin-top: 20px;">
        </div>
        <div>
            <p
                style="color: white; font-size: 18px;font-family: 'Times New Roman', 'Times New Roman'; margin-top: 0px;">                
        </div>
        <div class="modal-actions">
            <button *ngIf="tipotela == 'A'" style="color: green; width: 340px;" (click)="BotaoGravarParticipantesCusto()" >Guardar</button>
            <button *ngIf="tipotela == 'A'" style="color: red; width: 340px;"  (click)="BotaoCancelarparticipantesCusto()">Cancelar</button>
        </div>
    </div>
</div>


<div class="modal" *ngIf="exibirsorteio">
    <div class="modal-content">
        <span class="close" (click)="fecharsorteio()">&times;</span>
        <p class="cadastro-label2">Defina os Times de sua equipe</p>        
        <fieldset style="margin-top: 10px;">
            <legend>Dados do sorteio</legend>
            <div *ngIf="tipotela == 'A'">
                <input style="width: 400px;" type="number" name="procura" placeholder="Quantidade por Time" min = 1 
                    maxlength="25" #quantidade required>
                <button *ngIf="!sorteio" style="width: 230px;" class="modalpesquisarButton"
                (click)="sorteiotimes()"
                    >Sortear</button>
                <button *ngIf="sorteio" style="width: 230px;" class="modalpesquisarButton"
                (click)="sorteiotimes()"    
                    >Sortear Novamente</button>
            </div>
            <div *ngIf="sorteio" class="parametros-container" style="margin-top: 20px;">
                <div *ngFor="let time of TimesExistentes; let i = index" style="margin-bottom: 20px;">
                    <fieldset  style="width: 620px;">
                        <legend>{{ time.nomeTime }}</legend>
                        <div *ngFor="let competidor of time.competidores" style="display: flex; align-items: center; margin-bottom: 10px;">
                            <fieldset style="width: 580px; height: 70px; display: flex;">
                                <legend>Dados do competidor</legend>
                                <img [src]="competidor.imagem" style="width: 50px; height: 50px;">
                                <div style="margin-left: 20px;">
                                    <p style="color: white; font-size: 18px; font-family: 'Times New Roman', 'Times New Roman'; margin-top: 0px; margin-bottom: 5px;">
                                        <strong>{{ competidor.nome }}</strong>
                                    </p>
                                    <p style="color: white; font-size: 18px; font-family: 'Times New Roman', 'Times New Roman'; margin-top: 0px;">
                                        {{ competidor.email }}
                                    </p>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div *ngIf="!sorteio" class="resultado-pesquisa"
                style="display: flex; align-items: center; margin-top: 20px;">
                <p style="color: white; font-size: 25px;font-family: 'Times New Roman', 'Times New Roman';">Sorteio ainda não ocorreu!</p>
            </div>
        </fieldset>
        <div class="parametros-container" style="margin-top: 20px;">
        </div>
        <div>
            <p
                style="color: white; font-size: 18px;font-family: 'Times New Roman', 'Times New Roman'; margin-top: 0px;">                
        </div>
        <div class="modal-actions">
            <button *ngIf="tipotela == 'A'" style="color: green; width: 340px;" (click)="BotaoGravarSorteio()" >Guardar</button>
            <button *ngIf="tipotela == 'A'" style="color: red; width: 340px;"  (click)="BotaoCancelarSorteio()">Cancelar</button>
        </div>
    </div>
</div>