.modal2 {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-content2{
  background-color: #fefefe00;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);    
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-top: 50px;
  height: 80px;
}

  #mapid { height: 400px; }

  

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adicione aqui quaisquer estilos adicionais necessários para o modal */
  }
  .modal-content {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    width: 700px;
    /* Adicione aqui quaisquer estilos adicionais necessários para o conteúdo do modal */
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  legend{
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
  }

  .EquipeEvento{
    width: 178px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", "Times New Roman";
    margin-left: 167px;
    padding: 5px;
    margin-top: 10px;
}

  .cadastro-label2 {
    padding-top: 5%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 0px;
    color: #ffffff;
    font-family: 'Times New Roman';
    /* Adicione aqui quaisquer estilos adicionais necessários para o segundo rótulo de cadastro */
  }

  .cadastro-label3 {
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 51px;
    color: #ffffff;
    font-family: "Times New Roman";
}

.fieldset_inline2 {
  display: flex; 
  width: 780px; 
  margin-left: 160px; 
  margin-top: -20px;
  }

  .fieldset_inline3{
    width: 660px;
    margin-top: 10px;
  }

  .fieldset_inline4 {
    width: 580px;
    height: 70px;
    display: flex;
  }

  
.fieldset_inline5 {
  width: 620px;
  height: 105px;
  display: flex;
}


.fieldset_inline6{
  width: 530px;
  height: 70px;
  display: flex;
}



.fieldset_inline7{
  margin-top: 10px;
}


.fieldset_inline8{
  margin-top: 10px;
}

.nome_inline {
  color: white;
  font-size: 18px;
  font-family: 'Times New Roman', 'Times New Roman';
  margin-top: 0px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 450px; /* Defina a largura conforme necessário */
}



  input[type="number"] {

    margin-top: 10px;
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-right: 10px;
    padding: 5px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
}
input[type="date"] {
  margin-top: 10px;
  width: 750px;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
  margin-left: 10px;
}
  
  input[type="checkbox"] {
    margin-top: 15px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  
  input[type="text"] {
  
    margin-top: 10px;
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-right: 10px;
    padding: 5px;
  }

 
  
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  input[type=time]{
    margin-top: 10px;
    width: 124px;
    margin-left: 10px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", "Times New Roman";
    margin-right: 10px;
    padding: 5px;
}

  .sortear-button {
    margin-right: 10px;
    padding: 5px 10px;
    margin-top: 30px;
    width: 300px;
    height:35px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;          
  }
  
  .botaosortear{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
  }

  .botaosortear p {
      margin: 0;
      margin-top: -5px;
}


.button-left,.button-center, .button-right  {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
}


.button1{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
}

.button2{
  width: 230px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
}

.button3{
  width: 330px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
}

.button4{
  width: 174px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
}

.button5{
  width: 330px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
}

.button6{
  width: 190px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
  margin-top: 10px; 
  margin-bottom: 10px;

}

.button7{
  width: 330px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
  margin-top: 10px; 
  margin-bottom: 10px;

}


  .user-details-Ul {
    text-align: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Times New Roman';
    font-size: 20px;
    width: 200px;
    list-style: none;
  }
  .user-details-Ul-li1 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .user-details-Ul-li2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -15px;
  }
  
  .Botoes_usuario {
    width: 70px;
    height: 70px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
  
  .logo {
    position: absolute;
    left: 57px;
    width: 276px;
    height: 65px;
    cursor: pointer;
  }
  
  .image-container, .user-details-and-logout {
    display: flex;
    flex-direction: column; /* Organiza os itens internos verticalmente */
    align-items: center; /* Centraliza os itens internos verticalmente */
  }
  
  .user-details ul {
    text-align: left; /* Alinha o texto à direita */
    padding: 0; /* Remove o preenchimento */
    margin: 0; /* Remove a margem */
    list-style-type: none; /* Remove os marcadores de lista */
    font-family: "Times New Roman";
    font-size: 20px;
  }
  
  
  
  .rectangle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1500px;
    height: 600px;
    background-color: #201f26;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", sans-serif;
    background-color: #201f26;
    color: white;
  }
  
  .welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .welcome-message {
    max-width: 600px;
    margin: 0 auto;
  }

  .welcome-message .linha .coluna {
    display: inline-block;
    vertical-align: top;
  }
  
  .welcome-message .linha .esquerda {
    width: 20%;
  }
  
  .welcome-message .linha .direita {
    width: 78%;
  }
  
  .welcome-message .linha .direita .sublinha {
    margin-bottom: 10px;
  }

  .container-flex {
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

.fieldset_inline1 {
  display: flex;
  width: 713px;
  margin-left: 166px;
  margin-top: -20px;
}


.linha1{
  display: block;
  margin-bottom: 10px;
  justify-content: space-between;
  background-color: rgba(211, 211, 211, 0.2);
  width: 1480px;
  height: 380px;
  margin-left: -440px;
  margin-top: -70px;
  border-radius: 8px;
}

.linha2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.2);
  position: fixed;
  width: 1460px;
  height: 40px;
  margin-left: -440px;
  border-radius: 8px;
}

.linha3{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2);
    position: fixed;
    bottom: 10px;
    width: 1460px;
    margin-left: -440px;
    border-radius: 8px;
    height: 40px;
}

  

  .map-container {
    height: 400px;
    width: 690px;
  }
  
  .parametros-container {
    max-height: 180px;
    overflow-y: auto;
}


  
  .top {
    display: block;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2);
    position: fixed;
    width: 1460px;
    margin-left: -440px;
    margin-top: -130px;
    border-radius: 8px;
    height: 30px;
}

  .textotop{
    color: white; 
    font-size: 30px;
    font-family: 'Times New Roman', 'Times New Roman' ;
    margin-top: -2px;
  }

  .Botoes_usuario3 {
    width: 70px;
    height: 70px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1040px;
}


  .input_inline1{
    margin-top: 10px;
    width: 800px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-right: 10px;
    padding: 5px;
  }

  .input_inline2{
    margin-top: 10px;
    width: 190px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-right: 10px;
    padding: 5px;
  }

  
  .input_inline3{
    margin-top: 10px;
    width: 590px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', 'Times New Roman';
    margin-right: 10px;
    padding: 5px;
  }

  .input_inline4 {
    margin-top: 10px;
    width: 489px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", "Times New Roman";
    padding: 5px;
}



  .input_inline5 {
    margin-top: 10px;
    width: 470px;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", "Times New Roman";
    margin-right: 10px;
    padding: 5px;
}

.input_inline6 {
  margin-top: 10px;
  width: 640px;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.input_inline7 {
  margin-top: 10px;
  width: 260px;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.input_inline8 {
  margin-top: 10px;
  width: 650px;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

  
.button8 {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin-left: 10px;
  margin-right: 11px;
}

.p_inline1{
  margin-left: 10px; 
  margin-top: 35px;
}
.p_inline2{
  margin-left: 10px;
    margin-top: 35px;
}


.imagem_inline1 {
  width: 50px;
  height: 50px;
  margin-top: -7px;
}

.imagem_dado {
  margin-top: -15px;
}

.imagem_inline2 {
  width: 200px;
  height: 200px;
  margin-top: 70px;
  border-radius: 10px;
}


.imagem_inline3 {
  width: 50px;
  height: 50px;
}



body {
  font-family: 'Times New Roman', Times, serif;
}

.overlay_alertBox {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Sit on top */
}

.alert {
  max-width: 280px;
  width: 100%; /* Ensure the width is constrained */
  background-color: black; /* Black background */
  color: white;
  padding: 20px;
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the alert */
  z-index: 1001; /* Sit on top of the overlay_alertBox */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word; /* Ensure long words break */
  box-sizing: border-box; /* Include padding in the width */
}

.alert .message_customAlert {
  margin: 0 0 40px 0; /* Add bottom margin to ensure space for the button */
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word; /* Ensure long words break */
}

.alert .okbtn {
  background-color: #d9d9d9; /* Gray background */
  color: black; /* Black text */
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.alert .okbtn:hover {
  background-color: darkgray;
}


.overlay_customConfirm {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Sit on top */
}

.confirm_customConfirm {
  max-width: 280px;
  width: 100%; /* Ensure the width is constrained */
  background-color: black; /* Black background */
  color: white;
  padding: 20px;
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the confirm */
  z-index: 1001; /* Sit on top of the overlay_customConfirm */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word; /* Ensure long words break */
  box-sizing: border-box; /* Include padding in the width */
}

.confirm_customConfirm .message_customConfirm {
  margin: 0 0 40px 0; /* Add bottom margin to ensure space for the buttons */
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word; /* Ensure long words break */
}

.confirm_customConfirm .button-container_customConfirm {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Space between buttons */
}

.confirm_customConfirm .okbtn_customConfirm, .confirm_customConfirm .cancelbtn_customConfirm {
  background-color: #d9d9d9; /* Gray background */
  color: black; /* Black text */
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  width: 100px; /* Ensure both buttons have the same width */
}

.confirm_customConfirm .okbtn_customConfirm:hover, .confirm_customConfirm .cancelbtn_customConfirm:hover {
  background-color: darkgray;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os itens à esquerda */
  width: 150px; /* Define a largura do contêiner para 150px */
  text-align: left;
}

.user-details-label {
  margin-bottom: 5px; /* Espaço entre o label e o conteúdo */
  width: 50px; /* Garante que o label ocupe 100% da largura do contêiner */
}

.user-details-content.nome-usuario {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limita o texto a 2 linhas */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 100%; /* Garante que o conteúdo ocupe 100% da largura do contêiner */
  word-wrap: break-word;
}




  @media screen and (min-width: 1000px) and (max-width: 1599px) {

  
    .Botoes_usuario3 {
      margin-left: 583px;
    }  
  
    .container {
      margin-top: 0px;
    }
  

    .rectangle {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 980px;
      height: 600px;
      background-color: #201f26;
      border-radius: 10px;
      margin: 0 auto;
      margin-top: 0px;
  }

  .top {
    display: block;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2);
    position: fixed;
    width: 940px;
    margin-left: -180px;
    margin-top: -130px;
    border-radius: 8px;
    height: 30px;
}

.linha1 {
  display: block;
  margin-bottom: 10px;
  justify-content: space-between;
  background-color: rgba(211, 211, 211, 0.2);
  width: 960px;
  height: 380px;
  margin-left: -180px;
  margin-top: -70px;
  border-radius: 8px;
}

.linha2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.2);
  position: fixed;
  width: 940px;
  height: 40px;
  margin-left: -180px;
  border-radius: 8px;
}

.linha3 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.2);
  position: fixed;
  bottom: 10px;
  width: 940px;
  margin-left: -180px;
  border-radius: 8px;
  height: 40px;
}

.input_inline1{
  margin-top: 10px;
  width: 656px;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 0px;
  padding: 5px;
}

.input_inline2{
  margin-top: 10px;
  width: 194px;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', 'Times New Roman';
  margin-right: 10px;
  padding: 5px;
}

.input_inline3 {
  margin-top: 10px;
  width: 442px;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  padding: 5px;
  margin-right: 0px;
}

  .EquipeEvento {
    width: 195px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: #201f26;
    border-color: #201f26;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", "Times New Roman";
    margin-left: 40px;
    padding: 5px;
    margin-top: 10px;
}
.p_inline1{
  margin-left: 10px; 
  margin-top: 35px;
}
.p_inline2{
  margin-left: 10px;
    margin-top: 35px;
}

.container-flex {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 712px;
}

.fieldset_inline1{
 
    display: flex;
    width: 713px;
    margin-left: 37px;
    margin-top: -20px;

}

.cadastro-label3 {
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #ffffff;
  font-family: "Times New Roman";
}

.fieldset_inline2 {
  display: flex;
  width: 780px;
  margin-left: 37px;
  margin-top: -20px;
}

input[type="date"] {
  margin-top: 10px;
  width: 615px;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
  margin-left: 10px;
}

.button8 {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin-left: 10px;
  margin-right: 0px;
}

.input_inline4 {
  margin-top: 10px;
  width: 445px;
  height: 30px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Times New Roman", "Times New Roman";
  padding: 5px;
}

}

@media screen and (min-width: 600px) and (max-width: 999px) {
    
  .logo {
    position: absolute;
    left: 10px;
    width: 165px;
    height: 40px;
    top: 25px
  }

  .Botoes_usuario3 {
    margin-left: 340px;
    width: 60px;
    height: 60px;
  }

  .Botoes_usuario {
    width: 60px;
    height: 60px;  
  }

  .user-details-Ul {
    font-size: 13px;
    width: 60px;
  }

  .user-details-Ul-li1 {
    font-size: 13px;    
  }
  
  .user-details-Ul-li2 {
    font-size: 13px;
  }

  .rectangle {
    width: 580px;
    height: 400px;  
    margin-top: 0px;  
  }

  .rectangle2 {
    width: 540px;
    margin-left: -280px;
    height: 180px;
    margin-top: -140px; 
  }

  .container {
    margin-top: 2px;
  }
  
  .textotop{
    font-size: 20px;
    margin-top: 0px;
  }


  .linha1 {
    display: block;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.2);
    width: 560px;
    height: 180px;
    margin-left: 0px;
    margin-top: -70px;
    border-radius: 8px;
}
  
  .linha2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2);
    position: fixed;
    width: 540px;
    height: 40px;
    margin-left: 0px;
    border-radius: 8px;
  }
  
  .linha3 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2);
    position: fixed;
    bottom: 10px;
    width: 540px;
    margin-left: 0px;
    border-radius: 8px;
    height: 40px;
  }

  .button-left,.button-center, .button-right  {
    height: 30px;
    font-size: 14px;
    width: 170px;
    margin-top: 5px;
  }


  .top {
    display: block;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2);
    position: fixed;
    width: 540px;
    margin-left: 0px;
    margin-top: -130px;
    border-radius: 8px;
    height: 30px;
}

.button1 {
  width: 170px;
  height: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin-top: 6px;
}

.imagem_inline1 {
  width: 30px;
  height: 30px;
  margin-top: -2px;
}


.imagem_dado {
  margin-top: -6px;
}

.imagem_inline2 {
  width: 100px;
  height: 100px;
  margin-top: 40px;
  border-radius: 10px;
}


.input_inline1 {
  margin-top: 5px;
  width: 417px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.input_inline2 {
  margin-top: 0px;
  width: 140px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.input_inline3 {
  margin-top: 0px;
  width: 256px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.input_inline4 {
  margin-top: 0px;
  width: 265px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  padding: 5px;
}

.button8 {
  width: 141px;
  height: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin-right: 10px;
  margin-left: 10px;
}

.EquipeEvento {
  width: 129px;
  height: 25px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-left: 0px;
  padding: 5px;
  margin-top: -15px;
  z-index: 99;
}

.p_inline1 {
  margin-left: -1px;
  margin-top: 10px;
}

input[type="time"] {
  margin-top: -13px;
  width: 91px;
  margin-left: -4px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
  z-index: 99;
}

.p_inline2 {
  margin-left: -9px;
  margin-top: 9px;
}


.fieldset_inline1 {
  display: flex;
  width: 700px;
  margin-left: 31px;
  margin-top: -87px;
  height: 0px;
  border-width: 0pc;
}

input[type="checkbox"] {
  margin-top: 15px;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.cadastro-label3 {
  margin-top: 12px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: -2px;
  color: #ffffff;
  font-family: "Times New Roman";

}

legend {
  color: rgba(255, 255, 255, 0);
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
}


.fieldset_inline2 {
  display: flex;
  width: 780px;
  margin-left: -24px;
  margin-top: -67px;
  border-width: 0px;
}

input[type="date"] {
  margin-top: 10px;
  width: 417px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
  margin-left: 13px;
}

.map-container {
  width: 480px;
  height: 200px;
}

.modal-content {
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  width: 480px;
}

.input_inline5 {
  margin-top: 10px;
  width: 353px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.button6 {
  width: 87px;
  height: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input_inline6 {
  margin-top: 10px;
  width: 431px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.legend_inline1 {
  color: rgb(255 255 255);
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
}

.fieldset_inline3{
  width: 428px;
  margin-top: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.cadastro-label2 {
  padding-top: 5%;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 0px;
  color: #ffffff;
  font-family: "Times New Roman";
}

.button7 {
  width: 220px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type=number] {
  margin-top: 10px;
  width: 292px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.button2 {
  width: 136px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
}

.parametros-container {
  max-height: 180px;
  overflow-y: auto;
  width: 445px;
}

.fieldset_inline4 {
  width: 375px;
  height: 70px;
  display: flex;
}

.fieldset_inline5 {
  width: 100px;
  height: 105px;
  display: flex;
}

.nome_inline {
  color: white;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-top: 0px;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 245px; /* Defina a largura conforme necessário */
}


.button3 {
  width: 220px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
}



.input_inline7 {
  margin-top: 10px;
  width: 204px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.button4 {
  width: 92px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
}

.input_inline8 {
  margin-top: 10px;
  width: 428px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.button5 {
  width: 220px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
}

.user-details-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60px;
  text-align: left;
}

}
  


@media screen and (min-width: 0px) and (max-width: 599px) {
  
    .welcome-container {
      top: 40%;
      margin-top: 50px;
    }

  .logo {
    position: absolute;
    margin-left: 0px;
    margin-top: -90px;
    width: 169px;
    height: 40px;
    cursor: pointer; /* Adicionado para indicar que a imagem é clicável */
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -15px;
    margin-top: 70px;
  }

  .logout-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adicione aqui quaisquer estilos adicionais necessários para o botão de logout */
    cursor: pointer; /* Adicionado para indicar que o elemento é clicável */
    margin-top: 68px;
    margin-left: 80px;
  }


  .Botoes_usuario3 {
    margin-left: 0px;
    width: 60px;
    height: 60px;
  }

  .Botoes_usuario {
    width: 60px;
    height: 60px;  
  }

  .user-details-Ul {
    font-size: 13px;
    width: 60px;
  }

  .user-details-Ul-li1 {
    font-size: 13px;    
  }
  
  .user-details-Ul-li2 {
    font-size: 13px;
  }

  .rectangle {
    width: 300px;
    height: 873px;  
    margin-top: 0px;  
  }

  .rectangle2 {
    width: 260px;
    margin-left: -140px;
    height: 180px;
    margin-top: -160px;
  }

  .top {
    width: 260px;
    height: 20px;
    margin-top: -221px;
    margin-left: 0px;
}
  

  .container {
    margin-top: 442px;
    height: 140px;
  }
  
  .textotop{
    font-size: 15px;
    margin-top: 0px;
  }

  .linha1 {
    display: block;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.2);
    width: 280px;
    height: 574px;
    margin-left: 0px;
    margin-top: -172px;
    border-radius: 8px;
}

.linha2 {
display: block;
margin-bottom: 10px;
padding: 10px;
background-color: rgba(211, 211, 211, 0.2);
position: fixed;
width: 260px;
height: 70px;
margin-left: 0px;
border-radius: 8px;
}


.linha3 {
display: block;
padding: 10px;
background-color: rgba(211, 211, 211, 0.2);
position: fixed;
bottom: 10px;
width: 260px;
margin-left: 0px;
border-radius: 8px;
height: 102px;
}

.button-left, .button-center, .button-right {
width: 260px;
height: 25px;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 14px;
font-weight: bold;
position: relative;
border: 2px solid #D9D9D9;
background-color: #D9D9D9;
font-family: "Times New Roman";
margin-top: 6px;
}

.click {
color: white;
font-size: 14px;
font-family: "Times New Roman", "Times New Roman";
width: 110px;
margin-top: 5px;
margin-left: 80px;
}





legend{
color: white;
font-weight: bold;
font-size: 15px;
font-family: "Times New Roman", "Times New Roman";
}


.imagem_inline2 {
  width: 200px;
  height: 200px;
  margin-top: 8px;
  border-radius: 10px;
  margin-left: 37px;
}

.input_inline1 {
  margin-top: 227px;
  width: 250px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
  margin-left: -50px;
}

.input_inline2 {
  margin-top: 0px;
  width: 250px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
  margin-left: -50px;
}

.input_inline3 {
  margin-top: 10px;
  width: 250px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
  margin-left: -50px;
}

.input_inline4 {
  margin-top: 0px;
  width: 250px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  padding: 5px;
  margin-left: -57px;
}

.button8 {
  width: 257px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin-top: 10px;
  margin-left: -53px;
}

.cadastro-label3 {
  margin-top: 12px;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 0px;
  color: #ffffff;
  font-family: "Times New Roman";
}


.p_inline1 {
  margin-left: -274px;
  margin-top: -31px;
}

.p_inline2 {
  margin-left: 10px;
  margin-top: -31px;
}

input[type="time"] {
  margin-top: 14px;
  width: 78px;
  margin-left: -57px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.EquipeEvento {
  width: 286px;
  height: 25px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-left: -50px;
  padding: 5px;
  margin-top: 95px;
}

.fieldset_inline1 {
  display: flex;
  width: 713px;
  margin-left: -67px;
  margin-top: -13px;
  border-width: 0px;
}


input[type="checkbox"] {
  margin-top: 15px;
  width: 10px;
  height: 10px;
  margin-left: 2px;
}

.botaosortear   p {
  margin: 0;
  margin-top: -7px;
}

.imagem_inline1 {
  width: 30px;
  height: 30px;
  margin-top: -7px;
}

.button1 {
  width: 260px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin-bottom: 10px;
}

.fieldset_inline2 {
  display: flex;
  width: 780px;
  margin-left: -73px;
  margin-top: -13px;
  border-width: 0px;
}

input[type="date"] {
  margin-top: 4px;
  width: 250px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
  margin-left: 15px;
}

.modal-content {
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  width: 295px;
}

.map-container {
  height: 200px;
  width: 290px;
}

.cadastro-label2 {
  padding-top: 5%;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 0px;
  color: #ffffff;
  font-family: "Times New Roman";
}

.input_inline5 {
  margin-top: 10px;
  width: 167px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.button6 {
  width: 83px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fieldset_inline3 {
  width: 160px;
  margin-top: 10px;
}

.input_inline6 {
  margin-top: 10px;
  width: 240px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.button7 {
  width: 125px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imagem_inline3 {
  width: 50px;
  height: 50px;
}

input[type="number"] {
  margin-top: 10px;
  width: 100px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.button2 {
  width: 132px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
}

.nome_inline{
  color: white;
  font-size: 12px;
  font-family: "Times New Roman", "Times New Roman";
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: -11px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fieldset_inline4 {
  width: 188px;
  height: 70px;
  display: flex;
}

.fieldset_inline5 {
  width: 220px;
  height: 105px;
  display: flex;
}

.button3 {
  width: 122px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
}


.fieldset_inline8{  
  margin-top: -17px;
  margin-left: -15px;
}



.fieldset_inline7 {
  margin-top: -10px;
  margin-left: -15px;
}


.input_inline7 {
  margin-top: 10px;
  width: 261px;
  height: 15px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
  margin-left: 10px;
}

.button4 {
  width: 125px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
}

.fieldset_inline6 {
  width: 184px;
  height: 70px;
  display: flex;
}

.input_inline8 {
  margin-top: 10px;
  width: 276px;
  height: 14px;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  background-color: #201f26;
  border-color: #201f26;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", "Times New Roman";
  margin-right: 10px;
  padding: 5px;
}

.button5 {
  width: 125px;
  height: 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  font-family: "Times New Roman";
  margin: 10px;
}

.logout-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 68px;
  margin-left: 0px;
}


.user-details-container {
display: flex;
flex-direction: column;
align-items: flex-start;
width: 137px;
text-align: left;
}


}

  