<div>
    <div>
        <img src="../../assets/Logo.png" alt="Logo" class="logo" (click)="navigateToLogin()">
    </div>
    <div class="forgot-password-container">
        <div class="forgot-password-rectangle">.
            <h2></h2>
            <h2>Detalhes da Política de Privacidade</h2>
            <div class="forgot-password-rectangle2">
                
                <p>Esta Política de Privacidade explica como o Sistema SCORE coleta, usa e protege as informações dos
                    usuários. Entender nossas práticas de privacidade é essencial para que você esteja informado sobre
                    seus direitos e como suas informações são usadas.</p>

                <h3>Coleta de Informações</h3>
                <p>Coletamos informações que você nos fornece ao se registrar e ao utilizar nossas funcionalidades. Isso
                    inclui:</p>
                <ul>
                    <li>Nome e e-mail.</li>
                    <li>Dados de login via contas Google.</li>
                    <li>Informações de atividades esportivas e avaliações dentro do sistema.</li>
                </ul>

                <h3>Uso das Informações</h3>
                <p>Usamos suas informações para:</p>
                <ul>
                    <li>Proporcionar, manter e melhorar o sistema.</li>
                    <li>Realizar comunicações relevantes, como notificações de eventos.</li>
                </ul>

                <h3>Proteção de Dados</h3>
                <p>Empregamos medidas de segurança técnicas e organizacionais para proteger suas informações contra
                    acesso não autorizado, alteração, divulgação ou destruição. Suas informações são tratadas com o
                    maior grau de segurança e confidencialidade.</p>

                <h3>Compartilhamento de Informações</h3>
                <p>Não compartilhamos suas informações com terceiros, exceto em casos necessários para fornecimento de
                    nossos serviços ou quando exigido por lei.</p>

                <h3>Seus Direitos</h3>
                <p>Você tem o direito de acessar, corrigir, deletar ou transferir suas informações pessoais.</p>

            </div>
            <!-- Botão de volta -->
            <button (click)="goBack()">Voltar</button>
        </div>
    </div>
</div>