<div>
    <div class="welcome-container">
        <div class="user-info">
            <div class="container">
                <img src="../../assets/Logo.png" alt="Logo" class="logo" (click)="TelaInicial()">
                <div class="image-container">
                    <img id="selectedImage2" [src]="imagePath" alt="User Image" class="Botoes_usuario3" (click)="usuario()">
                </div>               
                <div class="user-details">
                    <div class="user-details-container">
                      <div class="user-details-label"><strong>Nome:</strong></div>
                      <div class="user-details-content nome-usuario">{{ nomeUsuario }}</div>
                    </div>
                  </div> 
                <div class="logout-button" (click)="logout()">
                    <img style="margin-top: 4px;" src="../../assets/Logout.png" alt="Logout" class="Botoes_usuario"/>
                </div>                
            </div>                    
        </div>
        <div class="rectangle">
            <div class="welcome-message">
                <div class="rectangle2">
                    <div class="top">
                        <p class="textotop">Eventos da Equipe {{nomeequipe}} com avaliações recebidas</p>                  
                    </div>
                    <div>
                        <input type="text"
                            class="input" name="procura" placeholder="Data (dia/mês/ano hr:min:seg) ou Nome do evento" maxlength="25" #procura
                            required>                        
                        <button class="equipe-btn" (click)="botaopesquisarlistaeventos()" >Pesquisar</button>
                        <button (click)="Limpapesquisarlistaeventos()" class="equipe-btn">Limpa
                            filtro</button>
                    </div>
                    <div class="listagemequipes">
                    <div *ngIf="!filtrou">
                        <div *ngFor="let equipe of eventosNaPaginaAtual; let i = index" class="equipe-container">
                            <div class="equipe-containerdiv">
                                <img id="selectedImage" [src]="equipe.foto" alt="User Image"
                                    class="Botoes_usuario2">                               
                            </div>
                            <div class="dados">
                                <span class="nomeequipe">Equipe: {{ equipe.nome }} - ID: {{ equipe.id }} </span>
                                <span class="nomeequipe">Evento: {{ equipe.nomeevento }} - ID: {{ equipe.idevento }}</span>
                                <span class="nomeequipe">Data: {{ equipe.data }} - Status: {{ equipe.statuseventos == "A"? " Avaliado" : " Avaliações Pendentes" }}</span>
                            </div>                            
                            <div class="equipe-containerdiv2">                               
                                <div class="equipe-containerdiv2">  
                                    <button style="margin-right: 10px;" class="equipe-btn3" (click)="TelaAvaliacao(equipe.datasemtratamento, equipe.idevento)">Minha Média no Evento</button>                                    
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div *ngIf="filtrou && existe">
                        <div *ngFor="let equipe of eventosNaPaginaAtual2; let i = index" class="equipe-container">
                            <div class="equipe-containerdiv">
                                <img id="selectedImage" [src]="equipe.foto" alt="User Image"
                                    class="Botoes_usuario2">                               
                            </div>
                            <div class="dados">
                                <span class="nomeequipe">Equipe: {{ equipe.nome }} - ID: {{ equipe.id }} </span>
                                <span class="nomeequipe">Evento: {{ equipe.nomeevento }} - ID: {{ equipe.idevento }}</span>
                                <span class="nomeequipe">Data: {{ equipe.data }} - Status: {{ equipe.statuseventos == "A"? " Avaliado" : " Avaliações Pendentes" }}</span>
                            </div>                              
                            <div class="equipe-containerdiv2">                               
                                <div class="equipe-containerdiv2">  
                                    <button style="margin-right: 10px;" class="equipe-btn3" (click)="TelaAvaliacao(equipe.datasemtratamento, equipe.idevento)">Minha Média no Evento</button>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="filtrou && !existe">
                        <div  class="equipe-container3">
                            <p class="naoexistemdados" ><strong>Não existem eventos nas condições passadas!</strong></p>
                        </div>
                    </div>

                </div>
                    <span *ngIf="!filtrou && eventosPorPagina<4" class="pagina-info">Página {{ paginaAtual }}/{{ totalDePaginas }}</span>
                    <span *ngIf="filtrou && existe && eventosPorPagina<4" class="pagina-info">Página {{ paginaAtual }}/{{ totalDePaginas2 }}</span>
                    <span *ngIf="filtrou && !existe && eventosPorPagina<4" class="pagina-info">Página 1/1</span>
                    <button class="btn-left2" style="margin-bottom: 10px;" (click)="mudarPagina(-1)"
                        [disabled]="paginaAtual === 1">Anterior</button>
                    <button *ngIf="!filtrou && eventosPorPagina<4" class="btn-right2" style="margin-bottom: 10px;" (click)="mudarPagina(1)"
                        [disabled]="paginaAtual >= (eventos.length / eventosPorPagina)">Próximo</button>                    
                    <button *ngIf="filtrou && eventosPorPagina<4"  class="btn-right2" style="margin-bottom: 10px;" (click)="mudarPagina(1)"
                        [disabled]="paginaAtual >= (eventos2.length / eventosPorPagina)">Próximo</button>
                </div>
                <div class="footer">
                    <button id="CriarEquipeButton"  class="CriarEquipeButton"(click)="Telausuarioequipe()">Voltar</button>                                 
                </div>
            </div>
        </div>
    </div>
</div>

<div id="overlay_alertBox" class="overlay_alertBox"></div>
    <div id="customAlert" class="alert">
        <p id="alertmessage_customAlert" class="message_customAlert"></p>
        <button id="okbtn_customAlert" class="okbtn">OK</button>
    </div>

    <div id="overlay_customConfirm" class="overlay_customConfirm"></div>
  <div id="customConfirm" class="confirm_customConfirm">
    <p id="confirmmessage_customConfirm" class="message_customConfirm"></p>
    <div class="button-container_customConfirm">
        <button class="okbtn_customConfirm" (click)="handleConfirm(true)">OK</button>
        <button class="cancelbtn_customConfirm" (click)="handleConfirm(false)">Cancelar</button>
    </div>
  </div>


